{% extends 'main/base.html' %}
{% load static %}
{% block title %} Events {% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col"><h1>eSports Tournaments and Events in Saudi Arabia</h1></div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col"><h2>ESPORTS WORLD CUP 2024</h2></div>
        </div>
        <div class="row">
            <div class="col"><img src="{% static 'images/ewc.webp' %}" alt="EWC image"></div>
        </div>
        <div class="row">
            <div class="col"><p>The eSports World Cup is an elite multi-genre eSports competition that will take place
                annually in Saudi Arabia from 2024 during July and August in a world-class venue in Riyadh Boulevard
                City. The EWC will offer the largest prize pool in eSports and feature the most popular eSports titles
                across all major gaming genres. It will welcome a new cross-game competition format, awarding prizes for
                individual game titles and club performances. It is designed for both professional eSports players and
                gaming enthusiasts, with qualifiers to provide as many teams as possible with the opportunity to
                participate, along with a thrilling calendar of on-the-ground activations, live entertainment, and
                competitions for fans.</p></div>
        </div>
        <div class="row">
            <div class="col">
                <iframe width="1280" height="497" src="https://www.youtube.com/embed/VIHOBnFqOvw?controls=0&rel=0;"
                        title="Esports World Cup | Explainer" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                        referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            </div>
        </div>
        <div class="row">
            <div class="col"><img src="{% static 'images/ewc_explain.png' %}" alt="Assorted EWC images"></div>
        </div>
        <div class="row">
            <div class="col"><p>21 GAME TITLES <br>
                $60,000,000+ PRIZE POOL <br>
                500+ TEAMS <br>
                1,500+ BEST ESPORTS PLAYERS <br>
                TAKES PLACE FROM JULY 03 - AUGUST 25, 2024</p></div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col"><h2>Saudi eLeagues</h2></div>
        </div>
        <div class="row">
        </div>
        <div class="col"><img src="{% static 'images/Saudi_eLeague_allmode.png' %}" alt="Saudi eLeague logo"></div>
        <div class="row">
            <div class="col"><p>The Saudi eLeague is the umbrella that holds together all the esports leagues in the
                Kingdom. The best players compete against one another in what is the pinnacle of Saudi competition. The
                leagues aim to discover and nurture professional clubs/players and create an environment where they can
                compete and shine on a local level, to prepare them for the international competitions. It is now a home
                for all competitive gaming enthusiasts to watch Saudi’s best talent showcase their skill.</p></div>
            <div class="col"><h2>Total prizepool <br>
                6,000,000 SR</h2></div>
        </div>
        <div class="row">
            <div class="col">
                <iframe width="1280" height="497" src="https://www.youtube.com/embed/N_u-txtyjWE?controls=0&rel=0;"
                        title="للمجد حاملين وللقمة سائرين 🇸🇦💚" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                        referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            </div>
        </div>
    </div>
{% endblock %}