{% extends 'main/base.html' %}
{% load static %}
{% block title %} Infrastructure {% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col"><h1>Infrastructure and Support for eSports in Saudi Arabia</h1></div>
        </div>
        <div class="row">
            <div class="col"><h2>Saudi Arabia as a Regional and Global Esports Hub</h2></div>
        </div>
        <div class="row">
            <div class="col"><p>Vision 2030’s emphasis on entertainment and cultural development also intersects with
                the growth of esports. Esports is not only viewed as a recreational activity, but as a viable avenue for
                cultural expression and economic growth. Saudi Arabia’s forays into the gaming world reflect an
                understanding of the global impact of esports, and the potential for the Kingdom to become a regional
                hub for gaming and esports innovation. HRH Crown Prince Mohammed bin Salman bin Abdulaziz Al Saud said
                of the gaming industry: “We are harnessing the untapped potential across the esports and games sector to
                diversify our economy, drive innovation in the sector, and further scale the entertainment and esports
                competition offerings across the Kingdom.” <br>

                One of the goals of esports and gaming is to create career pathways to thousands of Saudi Arabian youth
                who are enthusiastic about gaming and would aspire to find a career path that matches their passion.
                According to the Chairman of the Federation of Esports and Gaming HRH Prince Faisal bin Bandar bin
                Sultan Al Saud, the Kingdom’s aim to become a leading global hub for gaming and esports by 2030 will
                create over 35,000 jobs and contribute $13.3bn to the nation’s economy. Not surprisingly, the growth of
                the gaming industry has led to job creation, especially in areas such as game development, esports event
                management, and streaming.</p></div>
        </div>
        <div class="row">
            <div class="col"><img src="{% static 'images/qiddiya-gaming-district.jpg' %}" alt="Qiddiya gaming district">
            </div>
        </div>
        <div class="row">
            <div class="col">A notable initiative is the establishment of the Saudi Esports Federation and the hosting
                of major gaming events, showcasing a commitment to nurturing local talent and creating a competitive
                gaming ecosystem. Additionally, the rise of esports has attracted global sponsorships and partnerships,
                hence enhancing the country’s international visibility and potentially boosting tourism. These
                partnerships not only infuse capital into the gaming sector but also foster an environment conducive to
                further growth.
            </div>
        </div>
        <div class="row">
            <div class="col"><h2>Multi-Dollar Infrastructure Investments</h2></div>
        </div>
        <div class="row">
            <div class="col"><p>The development of esports and gaming in Saudi Arabia is a multifaceted endeavor,
                combining infrastructure investments, educational initiatives, and a strategic alignment with Vision
                2030’s broader goals. Investments in gaming infrastructure have played a pivotal role in the industry’s
                growth, which is expected to have a notable impact on the Kingdom’s economy. These investments in gaming
                infrastructure, such as the establishment of esports arenas and gaming hubs, can stimulate job creation
                and contribute to the diversification of the economy. For instance, the ambitious planning and
                development of a gaming and esports facilities in Qiddiya City, with a 5,155-seat multifunctional venue
                and six tapering volumes, hopes to eventually host large year-round events and to attract 10 million
                visitors.</p></div>
        </div>
        <div class="row">
            <div class="col"><img src="{% static 'images/qiddiya-gaming-arena.jpg' %}" alt="Qidiyya gaming arena"></div>
        </div>
        <div class="row">
            <div class="col">
                <iframe width="1280" height="497" src="https://www.youtube.com/embed/uCOCc3uOpqM?controls=0&rel=0;"
                        title="World First Gaming &amp; Esport District" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                        referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            </div>
        </div>
        <div class="row">
            <div class="col"><h2>Educational Programs</h2></div>
        </div>
        <div class="row">
            <div class="col">Esports has become a medium to teach many young and old values that are essential to
                success in many facets of life—from teamwork and collaboration to problem-solving, persistence, and
                all-around professionalism. To promote career pathways in esports, the Saudi Esports Academy offers
                extensive courses on strategies and tactics of different titles. The Saudi Esports Academy is the
                gateway for esports training, offering esports players the opportunity to enhance their skills, reach
                professionalism, and then compete in major local and international esports events. It also provides them
                with knowledge in all areas of esports, to build a professional profile that positions them as future
                leaders in the esports sector. The academy includes a comprehensive team of professional esports players
                and a select group of global esports coaches, as well as numerous experts in the field.
            </div>
        </div>
        <div class="row">
            <div class="col"><img src="{% static 'images/sea_logo.jpg' %}" alt="Saudi eSports Academy logo"></div>
        </div>
        <div class="row">
            <div class="col"><p>The academy boasts:</p></div>
        </div>
        <div class="row">
            <div class="col">
                <ul>
                    <li>17 Training Programs</li>
                    <li>117 Coaches</li>
                    <li>202 "Become Pro Player" Graduates</li>
                    <li>197 "eSports Career Training" Graduates</li>
                    <li>630 Outreach Participants</li>
                </ul>
            </div>
        </div>

    </div>
{% endblock %}