<!-- templates/main/place_detail.html -->
{% extends 'main/base.html' %}

{% block title %}{{ place.name }}{% endblock %}

{% block content %}
<div class="card mb-4">
    <img src="{{ place.image.url }}" class="card-img-top" alt="{{ place.name }}">
    <div class="card-body">
        <h1 class="card-title">{{ place.name }}</h1>
        <p class="card-text">{{ place.description }}</p>
        <p class="card-text"><small class="text-muted">{{ place.location }}</small></p>
    </div>
</div>
{% endblock %}
