
body {
    background: url('/static/images/alula-bg3.jpg') no-repeat center center fixed;
    background-size: cover;
}

img.fixed-size {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.card-text {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    height: 1.9em; 
    transition: height 0.3s ease;
}

.card-expanded .card-text {
    -webkit-line-clamp: unset;
    height: auto;
}

