
body {
    background: url('/static/images/background.jpg') no-repeat center center fixed;
    background-size: cover;
}

img.fixed-size {
    width: 10%;
    height: 20px;
    object-fit: cover;
}

.card-fixed-size {
    height: 300px;
}

.card-text {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3; /* number of lines to show */
    -webkit-box-orient: vertical;
    height: 4.5em; /* (line-height * number of lines) */
    transition: height 0.3s ease;
}

.card-expanded .card-text {
    -webkit-line-clamp: unset;
    height: auto;
}

