h1 {
  font-family: 'IBM Plex Mono', monospace;
}

h2 {
  font-family: 'IBM Plex Mono', monospace;
}
p {
  font-family: 'IBM Plex Sans Condensed', sans-serif;
}
h3 {
  font-family: 'IBM Plex Sans Condensed', sans-serif;
}
a {
  font-family: 'IBM Plex Mono', monospace;
}
html {
  scroll-behavior: smooth;
}

@layer utilities {
  .animate-fadeIn {
      animation: fadeIn 2s ease-in-out;
  }
}