body, html {
  height: 100%;
  margin: 0;
}

.video-container {
  position: relative;
  width: 100%;
  height: 100vh; 
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-width: 768px) {
  #hail_video_slide {
  min-width: 100%;
  min-height: auto;
  max-width: 100%;
  max-height: 100vh;
  object-fit: contain;
  z-index: -1;
}
}
.owl-carousel.owl-rtl .owl-item {
  float: right;
}
* {
  margin: 0;
  padding: 0;
}
.header-sticky {
  left: 0;
  right: 0;
  top: 0;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.text-banner {
  font-family: 'Jawad', 'serif';
  font-size: 2.5rem;
  color: #fff;
  padding: 1rem;
  border-radius: 20px;
  text-align: center;
  
}
.w3-animate-top {
  position: relative;
  animation: animatetop 1s !important;
}
.text-in-banner {
  display: flex;
  position: absolute;
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center;
  animation-name: text-banner;
  animation-duration: 1s;
  opacity: 0;
  animation-delay: 8s;
  animation-fill-mode: forwards;
  flex-direction:column;
  background-color: #00000000;
}
@keyframes text-banner {
  from {height: 90vh; opacity: 0;}
  to {height: 100vh; opacity: 1; background-color: #00000070;}
}
#hail_video_slide {
  min-width: 100%;
  min-height: 100vh;
  max-width: 100%;
  max-height: 100vh;
  object-fit: cover;
  z-index: -1;
  animation: video 1s 8s forwards;
}

@keyframes video {
  to {
    background-color: rgba(0, 0, 0, 0.7);
  }
}

.fixed-top {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
  opacity: 0;
  animation: showNavbar 1s 8s forwards;
}


@keyframes showNavbar {
  to {
    opacity: 1;
  }
}
