{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <!-- Bootstrap CSS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
   
    <title>{%block title%}{% endblock%}</title>
  </head>
  <body>
    <header class="header">
        <nav class="navbar navbar-expand-md navbar-dark {% block ClassNav%} {% endblock%}fixed-top hidden background" id="navbar">
          <a class="navbar-brand" href="#"><img src="{% static 'images/logo-white.png' %}" style="height: 70px;" alt=""></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item active">
                <a class="nav-link" href="#">الرئيسية <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">المقالات</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">مدري هنا</a>
              </li>
            </ul>
            <form class="form-inline mt-2 mt-md-0">
              <button class="btn my-2 my-sm-0" type="submit">sign in</button>
              <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Registry</button>
            </form>
          </div>
        </nav>
      </header>
      {% block display%}
      {%endblock%}
      
      
      <footer class="bg-dark text-white py-4">
        <div class="container">
          <div class="div-img animate-on-scroll">
            <img class="logo-bottom" src="{% static 'images/logo-white.png'%}" alt="">
          </div>
          <div class="row">
            <div class="col-md-3 animate-on-scroll">
              <h5>من نحن</h5>
              <p>مرحبًا بكم في موقع التراث السعودي، المنصة الإلكترونية الرائدة التي تهدف إلى تعزيز الوعي بالتراث الثقافي والمعالم السياحية في المملكة العربية السعودية. نحن هنا لنقدم لكم تجربة فريدة لاستكشاف جمال وتنوع التراث السعودي من خلال محتوى غني ومتميز.</p>
            </div>
            <div class="col-md-3 animate-on-scroll">
              <h5>اتصل بنا</h5>
              <p>البريد الإلكتروني<br> info@example.com</p>
              <p>الهاتف<br> 123-456-7890</p>
            </div>
            <div class="col-md-3 animate-on-scroll">
              <h5>روابط سريعة</h5>
              <ul class="list-unstyled">
                <li><a href="#" class="text-white">الرئيسية</a></li>
                <li><a href="#" class="text-white">المقالات</a></li>
                <li><a href="#" class="text-white">مدري هنا</a></li>
              </ul>
            </div>
            <div class="col-md-3 animate-on-scroll">
              <h5>تابعنا</h5>
              <div class="d-flex">
                <a href="#" class="text-white mr-2"><i class="fab fa-facebook fa-2x"></i></a>
                <a href="#" class="text-white mr-2"><i class="fab fa-twitter fa-2x"></i></a>
                <a href="#" class="text-white mr-2"><i class="fab fa-instagram fa-2x"></i></a>
              </div>
            </div>
          </div>
          <div class="text-center mt-3 animate-on-scroll">
            <p>&copy; 2024 Saudi Heritage. NAIF ALHARBI.</p>
          </div>
        </div>
      </footer>

    <!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->
    <script src="https://unpkg.com/scrollreveal"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js" integrity="sha384-qL5+JYY7h5f3zGnxUOfJtKPmOMjze5sw7AjDQ93noxEw5rL6bVIqltIwXo6l5d7d" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9Apj+CwT9L5LU5j5ho8GQndGF1Sk8JNuRaV8tS7pS1F1jKjG8ng9p" crossorigin="anonymous"></script>
    <script src="{% static 'javascript/script.js'%}"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-Nv4i6QSpAL3b46Rz2VrO+L3UzqRa/XtZR1YifhFotbo+pP11tFAP+Yj1lvoRxT4/" crossorigin="anonymous"></script>

  </body>
</html>
