{% extends "base.html" %}
{% load static %}
{% block title %}Saudi Heritage{% endblock %}
{% block display %}
<section>
    <div class="owl-item active" style="width: 100%;">
      <div class="item">
        <div class="text-in-banner-city">
          <p class="text-banner">منطقة رجال المع</p>
          <p class="text-banner">جمال الطبيعة وعبق التاريخ في مكان واحد.</p>
          <a class="btn btn-success" href="#naif">اقرا المزيد</a>
        </div>
        <video autoplay muted loop playsinline id="hail_video_slide" data-video="1" class="mtz-lpcbi">
          <source src="https://res.cloudinary.com/dvyxhy5gu/video/upload/v1721210005/alma_magxxf.mp4" type="video/mp4">
        </video>
      </div>
    </div>
  </section>
  <section>
    <div>
        <div class="row box-info">
            <div class="col-8 box {% if request.COOKIES.mode == 'dark' %}text-white{%endif%}">
                <h2>السياحة في رجال ألمع</h2>
                <p>رجال ألمع هي إحدى الوجهات السياحية الجميلة في <b>المملكة العربية السعودية</b>، وتقع في منطقة <b>عسير</b> جنوب غرب المملكة. تتميز هذه المنطقة بطبيعتها الخلابة وتاريخها العريق، مما يجعلها مقصدًا مفضلًا للسياح.</p>
                
                <p><b>المواقع السياحية في رجال ألمع</b>:</p>
                <p>1. <b>قرية رجال ألمع التراثية</b>: تعتبر من أهم المعالم السياحية في المنطقة، وتتميز بمبانيها القديمة المبنية من الحجارة والطين.</p>
                <p>2. <b>منتزه الحبلة</b>: يوفر مناظر طبيعية رائعة ومناطق للتنزه.</p>
                <p>3. <b>الطريق الجبلي</b>: يمكن للسياح الاستمتاع برحلات مشي أو قيادة السيارات عبر الطرق الجبلية التي توفر مناظر طبيعية خلابة.</p>
            
                <p><b>الأنشطة السياحية</b>:</p>
                <p>- <b>المشي والتسلق</b>: يمكن للسياح الاستمتاع برياضة المشي وتسلق الجبال في المنطقة.</p>
                <p>- <b>التصوير الفوتوغرافي</b>: توفر رجال ألمع العديد من المواقع الجميلة والمناسبة للتصوير الفوتوغرافي.</p>
                <p>- <b>الاستمتاع بالمأكولات المحلية</b>: يمكن للسياح تجربة الأطعمة التقليدية في المنطقة مثل الحنيذ والعريكة.</p>
            
                <p><b>الفعاليات الثقافية</b>:</p>
                <p>- <b>المهرجانات التراثية</b>: تقام في رجال ألمع العديد من المهرجانات التي تعكس التراث والثقافة المحلية.</p>
                <p>- <b>العروض الفلكلورية</b>: يمكن للسياح الاستمتاع بالعروض الفلكلورية التقليدية التي تقام في القرية التراثية.</p>
            
                <p><b>الإقامة</b>:</p>
                <p>- <b>الفنادق</b>: تتوفر في رجال ألمع بعض الفنادق التي توفر إقامة مريحة للسياح.</p>
                <p>- <b>الشقق الفندقية</b>: يمكن للسياح استئجار شقق فندقية مجهزة بكافة الخدمات.</p>
            
                <p>رجال ألمع تعد وجهة سياحية مثالية لمن يبحث عن تجربة ثقافية وتاريخية بالإضافة إلى الاستمتاع بالطبيعة الخلابة.</p>
                
            </div>
            <div class="col-3 box width-mobile">
                <div class="map">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3903.6884277139807!2d42.28259537523609!3d18.20163097883883!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x15e2b535d883c9cb%3A0x7567322fbc88f4!2sBees%20Tower%20Honey%20Refinery!5e1!3m2!1sen!2ssa!4v1721212880035!5m2!1sen!2ssa" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                    <a href="#" class="btn bg-dark mt-2 text-white">للأنتقال للموقع </a>
                </div>
            </div>
        </div>
    </div>
  </section>
  <section class="historical-cities {% if request.COOKIES.mode == 'dark' %}background-dark-body text-white{%endif%}">
    <div class="container">
      <div class="stylish-line animate-on-scroll"></div>
      <div class="stylish-line1 animate-on-scroll"></div>
      
      <h2 class="animate-on-scroll text-center mb-5 {% if request.COOKIES.mode == 'dark' %} text-white{%endif%}"> مناطق اخرى
      </h2>
    
      <div class="row">
        <div class="col-md-4 mb-4 animate-on-scroll">
          <div class="card ">
            <img src="{% static 'images/alanga.jpg' %}" class="card-img-top" alt="مدينة 1">
            <div class="card-body {% if request.COOKIES.mode == 'dark' %} background-dark{%endif%}">
              <h5 class="card-title">قلعة العنقة </h5>
              <p class="card-text"> القرية تطل على سهول تهامة و تتميز بموقعها الاستراتيجي وصلابة مبانيها وهي من ديار آل
                سلمى من آل يعلى من آل كثير من بني مالك.</p>
              <a href="#" class="btn btn-primary {% if request.COOKIES.mode == 'dark' %} background-dark{%endif%}">اقرأ المزيد</a>
            </div>
          </div>
        </div>
        <div class="col-md-4 mb-4 animate-on-scroll">
          <div class="card">
            <img src="{% static 'images/alma.jpg' %}" class="card-img-top" alt="مدينة 2">
            <div class="card-body {% if request.COOKIES.mode == 'dark' %} background-dark {%endif%}">
              <h5 class="card-title">رجال المع</h5>
              <p class="card-text">قرية رجال ألمع التراثية هي قرية تراثية تقع في محافظة رجال ألمع الواقعة بمنطقة عسير جنوب
                غرب السعودية، وتبعد عن مدينة أبها حوالي 52 كم باتجاه الغرب. يزيد تاريخ بناءها عن 900 سنة.</p>
              <a href="#" class="btn btn-primary {% if request.COOKIES.mode == 'dark' %} background-dark{%endif%}">اقرأ المزيد</a>
            </div>
          </div>
        </div>
        <div class="col-md-4 mb-4 animate-on-scroll">
          <div class="card">
            <img src="{% static 'images/mard.jpg' %}" class="card-img-top" alt="مدينة 3">
            <div class="card-body {% if request.COOKIES.mode == 'dark' %} background-dark{%endif%}">
              <h5 class="card-title">قلعة مارد</h5>
              <p class="card-text">تقع قلعة مارد على جبل أو تل صخري يبلغ ارتفاعها 600م في حي الدرع بدومة الجندل التابعة
                لمنطقة الجوف، ويعود سبب تسميتها بهذا الاسم إلى تمردها واستعصائها على كل من حاول اقتحامها</p>
              <a href="#" class="btn btn-primary  {% if request.COOKIES.mode == 'dark' %} background-dark{%endif%}">اقرأ المزيد</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}
