{% extends "base.html" %}
{% load static%}
{% block title%}Saudi Heritage{%endblock%}

      {% block display%}
      <section>
        <div class="owl-item active" style="width: 100%;">
          <div class="item">
            <div class="text-in-banner">
              <p class="text-banner">التراث والثقافة في قلب السعودية</p>
              <p class="text-banner"> اكتشف تاريخ المملكة الغني ومعالمها الأثرية، واستمتع بالفعاليات الثقافية والمهرجانات التراثية التي تعكس عراقة الفنون والتقاليد السعودية.</p>
              <a class="btn btn-success" href="#naif">اقرا المزيد</a>
            </div>
            <video autoplay muted loop playsinline id="hail_video_slide" data-video="1" class="mtz-lpcbi">
              <source src="{% static 'video/video1.mp4' %}" type="video/mp4">
            </video>
          </div>
        </div>
      </section>

      <section class="historical-cities">
        <div class="container">
          <h2 class="animate-on-scroll text-center mb-5"> المناطق <snap style="color: green;">التاريخية</snap></h2>
          <div class="row">
            <div class="col-md-4 mb-4 animate-on-scroll">
              <div class="card ">
                <img src="{% static 'images/alanga.jpg' %}" class="card-img-top" alt="مدينة 1">
                <div class="card-body">
                  <h5 class="card-title">قلعة العنقة </h5>
                  <p class="card-text"> القرية تطل على سهول تهامة و تتميز بموقعها الاستراتيجي وصلابة مبانيها  وهي من ديار آل سلمى من آل يعلى من آل كثير من بني مالك.</p>
                  <a href="#" class="btn btn-primary">اقرأ المزيد</a>
                </div>
              </div>
            </div>
            <div class="col-md-4 mb-4 animate-on-scroll">
              <div class="card">
                <img src="{% static 'images/alma.jpg' %}" class="card-img-top" alt="مدينة 2">
                <div class="card-body">
                  <h5 class="card-title">رجال المع</h5>
                  <p class="card-text">قرية رجال ألمع التراثية هي قرية تراثية تقع في محافظة رجال ألمع الواقعة بمنطقة عسير جنوب غرب السعودية، وتبعد عن مدينة أبها حوالي 52 كم باتجاه الغرب. يزيد تاريخ بناءها عن 900 سنة.</p>
                  <a href="#" class="btn btn-primary">اقرأ المزيد</a>
                </div>
              </div>
            </div>
            <div class="col-md-4 mb-4 animate-on-scroll">
              <div class="card">
                <img src="{% static 'images/mard.jpg' %}" class="card-img-top" alt="مدينة 3">
                <div class="card-body">
                  <h5 class="card-title">قلعة مارد</h5>
                  <p class="card-text">تقع قلعة مارد على جبل أو تل صخري يبلغ ارتفاعها 600م في حي الدرع بدومة الجندل التابعة لمنطقة الجوف، ويعود سبب تسميتها بهذا الاسم إلى تمردها واستعصائها على كل من حاول اقتحامها</p>
                  <a href="#" class="btn btn-primary">اقرأ المزيد</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="historical-cities number">
        <div class="container">
          <div class="row nums">
            <div class="col-md-4 mr animate-on-scroll">
              <div class="card">
                <div class="cards">
                  <span class="material-symbols-outlined">
                    groups
                  </span>
                </div>
                <div class="card-body">
                  <h1 style="color: green;" data-goal="94.5" class="num">0</h1>
                  <h1>مليون زائر سنويا </h1>
                </div>
              </div>
            </div>
            <div class="col-md-4 mr animate-on-scroll">
              <div class="card">
                <div class="cards">
                  <span class="material-symbols-outlined">
                    groups
                  </span>
                </div>
                <div class="card-body">
                  <h1 style="color: green;" data-goal="6300" class="num">0</h1>
                  <h1>موقع تراثي في السعودية</h1>
                </div>
              </div>
            </div>
            <div class="col-md-4 mr animate-on-scroll">
              <div class="card">
                <div class="cards">
                  <span class="material-symbols-outlined">
                    groups
                  </span>
                </div>
                <div class="card-body">
                  <h1 style="color: green;" data-goal="30" class="num">0</h1>
                  <h1>هيئات ووزارات لخدمة السياح</h1>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="features" id="naif">
        
        <h1 class="styled-text">مميزات السياحة في <span class="title"> السعودية</span> 
        </h1>
      
        <div class="feature-item animate-on-scroll">
          <div class="feature-icon">
            <span class="material-symbols-outlined">
              sunny
              </span>
          </div>
          <h3>التنوع الجغرافي</h3>
          <p>يضم صحاري شاسعة مثل الربع الخالي، جبالاً شاهقة مثل جبال السروات والحجاز، وشواطئ ساحرة على البحر الأحمر والخليج العربي توفر فرصًا للغوص والاستجمام</p>
        </div>
        <div class="feature-item animate-on-scroll">
          <div class="feature-icon">
            <span class="material-symbols-outlined">
              date_range
              </span>
          </div>
          <h3>المعالم التاريخية والثقافية</h3>
          <p> تضم مدائن صالح المدرجة ضمن التراث العالمي لليونسكو، الدرعية العاصمة التاريخية، ومدينة جدة التاريخية ببيوتها التقليدية وأسواقها القديمة</p>
        </div>
        <div class="feature-item animate-on-scroll">
          <div class="feature-icon">
            <span class="material-symbols-outlined">
              tour
              </span>
          </div>
          <h3>المهرجانات والفعاليات</h3>
          <p> مثل مهرجان الجنادرية الوطني للتراث والثقافة، مواسم الطائف والسودة، ومهرجانات الصقور وسباقات الهجن التي تعكس تراث المنطقة</p>
        </div>
      </section>
    {%endblock%}