{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en" class="dark">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %} {% endblock %}</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
  
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=IBM+Plex+Sans+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <script src="{% static 'js/script.js' %}" defer></script>
  {% tailwind_css %}
</head>
<body class="dark:bg-gray-900 dark:text-white">
      <nav class="sticky top-0 z-10 block w-full max-w-full px-4 py-2 text-black bg-white border rounded-none shadow-md h-max dark:bg-gray-600 dark:border-0 dark:text-white border-white/80 bg-opacity-80 backdrop-blur-2xl backdrop-saturate-200 lg:px-8 lg:py-4 font-serif">
        <div class="flex items-center justify-between text-blue-gray-900">
          <a href="/" class="mr-4 block cursor-pointer dark:text-white text-black"> Saudi </a>
          <div class="flex items-center gap-4">
            <div class="hidden mr-4 lg:block">
              <ul class="flex flex-col gap-2 mt-2 mb-4 lg:mb-0 lg:mt-0 lg:flex-row lg:items-center lg:gap-6">
                <li class="block p-1 font-sans text-sm antialiased font-normal leading-normal text-blue-gray-900">
                  <a href="{% url 'main:about_view' %}" class="flex items-center">
                    About Saudi
                  </a>
                </li>
                <li class="block p-1 font-sans text-sm antialiased font-normal leading-normal text-blue-gray-900">
                  <a href="{% url 'main:destination_view' %}" class="flex items-center">
                    Destinations
                  </a>
                </li>
                <li class="block p-1 font-sans text-sm antialiased font-normal leading-normal text-blue-gray-900">
                  <a href="{% url 'main:guide_view' %}" class="flex items-center">
                    Travel Guide
                  </a>
                </li>
                <li class="block p-1 font-sans text-sm antialiased font-normal leading-normal text-blue-gray-900">
                  <a href="javascript:void(0);" id="theme-toggle-on" class="flex items-center">
                  <span class="material-symbols-outlined">toggle_on</span>
                  </a>
                  <a href="javascript:void(0);" id="theme-toggle-off" class="flex items-center hidden">
                    <span class="material-symbols-outlined">
                      toggle_off
                    </span>
                  </a>
                </li>
              </ul>
            </div>
            <div class="flex items-center gap-x-1">
            </div>
            <button
              class="relative ml-auto h-6 max-h-[40px] w-6 max-w-[40px] select-none rounded-lg text-center align-middle font-sans text-xs font-medium uppercase text-inherit transition-all hover:bg-transparent focus:bg-transparent active:bg-transparent disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none lg:hidden"
              type="button">
              <span class="absolute transform -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2">
                <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6" fill="none" stroke="currentColor"
                  stroke-width="2">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M4 6h16M4 12h16M4 18h16"></path>
                </svg>
              </span>
            </button>
          </div>
        </div>
      </nav>
  {% block content %}
  
  {% endblock %}
  <footer class="bg-zinc-50 dark:bg-gray-600 text-center lg:text-left">
    <div class="bg-black/5 p-4 text-center text-surface font-plex-mono">
      © 2024 Copyright:
      <a href="/">Saudi Arabia Tourism</a>
    </div>
  </footer>
</body>
</html>