{% extends 'main/base.html' %}
{% block title %}
Home page 
{% endblock %}
{% load static %}
{% block content %}
<main>
  <div class="flex flex-col mx-44 mb-60">
    <h1 class="mt-20 mb-8 text-5xl">{{ title }}</h1>
    <h3 class="mb-8 text-lg">About the City</h3>
    <p class="w-1/2 text-xl font-thin mb-20">{{ brief }}</p>
  </div>
  <h2 class="mx-44 text-xl mb-10">Top Attractions</h2>
  <div class="grid grid-cols-1 gap-4 mx-44 sm:grid-cols-2 md:grid-cols-3 mb-64">
    {% for attraction in top_attractions %}
      <div class="flex flex-col flex-wrap justify-start gap-4">
        <img class="object-cover object-center w-full h-40 max-w-full rounded-lg"
          src="{% static attraction.image %}"
          alt="{{ attraction.name }}" />
        <h1 class="text-lg text-gray-600 dark:text-gray-200 pl-2">{{ attraction.name }}</h1>
        <p class="text-sm text-gray-500 dark:text-gray-400 pl-2">{{ attraction.description }}</p>
        <span class="text-xs text-gray-400 dark:text-gray-500 pl-2">{{ attraction.type }}</span>
        <a href="{{ attraction.map_link }}" target="_blank" class="text-blue-500 text-thin text-sm pl-2 ">Visit 
        <span class="material-symbols-outlined text-sm">open_in_new</span></a>
      </div>
    {% endfor %}
  </div>    
</main> 
{% endblock %}