{% extends 'main/base.html' %}
{% block title %}
Destinations page 
{% endblock %}
{% load static %}
{% block content %}
  <main>
    <div class="my-52 mx-24 flex flex-row gap-7">
      <a href="/city/riyadh">
        <div class="max-w-sm rounded overflow-hidden dark:bg-slate-500 shadow-lg transform transition duration-300 hover:scale-105 hover:shadow-xl">
            <img class="w-[400px] h-[300px]" src="{% static 'images/riyadh.png' %}" alt="">
            <div class="px-6 py-8">
                <div class="font-bold text-xl mb-4">Riyadh</div>
                <p class="text-gray-700 text-base">
                    CULTURE & HISTORY, NATURE, SHOPPING
                </p>
            </div>
        </div>
    </a>
      <a href="/city/abha">
        <div class="max-w-sm rounded overflow-hidden dark:bg-slate-500 shadow-lg transform transition duration-300 hover:scale-105 hover:shadow-xl">
          <img class="w-[400px] h-[300px]" src="{% static 'images/abha.png' %}" alt="">
          <div class="px-6 py-8">
            <div class="font-bold text-xl mb-4">Abha</div>
              <p class="text-gray-700 text-base"> CULTURE & HISTORY, NATURE, SHOPPING</p>
              </div>
          </div>
      </a>
      <a href="/city/alula">
        <div class="max-w-sm rounded overflow-hidden dark:bg-slate-500 shadow-lg transform transition duration-300 hover:scale-105 hover:shadow-xl">
          <img class="w-[400px] h-[300px]" src="{% static 'images/alula.png' %}" alt="">
          <div class="px-6 py-8">
            <div class="font-bold text-xl mb-4">AlUla</div>
              <p class="text-gray-700 text-base"> CULTURE & HISTORY, NATURE, SHOPPING </p>
          </div>
        </div>
      </a>
      <a href="/city/mekkah">
        <div class="max-w-sm rounded overflow-hidden dark:bg-slate-500 shadow-lg transform transition duration-300 hover:scale-105 hover:shadow-xl">
          <img class="w-[400px] h-[300px]" src="{% static 'images/mekkah.png' %}" alt="">
          <div class="px-6 py-8">
            <div class="font-bold text-xl mb-4">Mekkah</div>
              <p class="text-gray-700 text-base"> CULTURE & HISTORY, NATURE, SHOPPING </p>
          </div>
        </div>
      </a>
    </div>
  </main>
{% endblock %}