{% extends 'main/base.html' %}
{% block title %}
History page 
{% endblock %}
{% load static %}
{% block content %}
  <main>
    <p>
      Saudi Arabia, officially known as the Kingdom of Saudi Arabia, has a rich and complex history that dates back thousands of years. The region has been home to various ancient civilizations, including the Nabateans, who built the rock city of Al-Ula. Islam, which emerged in the 7th century CE in the city of Mecca, profoundly shaped the history of the Arabian Peninsula. The unification of Saudi Arabia as a modern nation began in the early 20th century under the leadership of Abdulaziz Ibn Saud, who founded the Kingdom in 1932. The discovery of vast oil reserves in the 1930s transformed Saudi Arabia into a global economic powerhouse and a pivotal player in regional and international politics. The country has since undergone rapid modernization, balancing its rich cultural heritage and Islamic traditions with economic and social reforms.
    </p>
  </main>
{% endblock %}