{% extends "main/base.html" %}
{%load static%}
{% block title %}
الجوائز العالمية
{% endblock title %}

{% block style %}
<style>
    .award-item {
        display: flex;
        align-items: center;
        background: var(--dark-card-bg);
        border: 1px solid var(--dark-card-border);
        color: var(--dark-text);
        padding: 20px;
        border-radius: 10px;
        margin-bottom: 20px;
        transition: transform 0.3s;
    }

    .award-item img {
        width: 80px;
        height: 80px;
        border-radius: 50%;
        margin-right: 20px;
    }

    .award-item:hover {
        transform: translateY(-10px);
    }

    .award-title {
        font-size: 24px;
        font-weight: 600;
        margin-bottom: 5px;
    }

    .award-description {
        font-size: 16px;
    }
</style>
{% endblock style %}

{% block content %}
<section class="pt-24 pb-12 bg-gradient-to-tr from-slate-700 via-slate-800 to-sky-900 text-white">
    <div class="container mx-auto px-4">
        <h1 class="text-4xl font-bold mb-8 text-center">الجوائز العالمية</h1>
        <div class="award-list">
            <div class="award-item">
                <img src="{% static 'img/b3.jpeg' %}" alt="جائزة نوبل">
                <div>
                    <div class="award-title">جائزة نوبل</div>
                    <div class="award-description">
                        جائزة نوبل هي مجموعة من الجوائز الدولية السنوية التي تُمنح في مجالات الفيزياء، الكيمياء، الطب، الأدب، السلام، والاقتصاد.
                    </div>
                </div>
            </div>
            <div class="award-item">
                <img src="{% static 'img/b3.jpeg' %}" alt="جائزة الأوسكار">
                <div>
                    <div class="award-title">جائزة الأوسكار</div>
                    <div class="award-description">
                        جائزة الأوسكار هي جوائز تُمنح سنويًا من قبل أكاديمية فنون وعلوم الصور المتحركة لتكريم الإنجازات الفنية والتقنية في صناعة السينما.
                    </div>
                </div>
            </div>
            <div class="award-item">
                <img src="{% static 'img/b3.jpeg' %}" alt="جائزة بوليتزر">
                <div>
                    <div class="award-title">جائزة بوليتزر</div>
                    <div class="award-description">
                        جائزة بوليتزر هي مجموعة من الجوائز التي تُمنح لإنجازات في الصحافة، الأدب، والموسيقى. تُمنح الجوائز سنويًا في الولايات المتحدة.
                    </div>
                </div>
            </div>
            <div class="award-item">
                <img src="{% static 'img/b3.jpeg' %}" alt="جائزة غرامي">
                <div>
                    <div class="award-title">جائزة غرامي</div>
                    <div class="award-description">
                        جائزة غرامي هي جوائز تُمنح سنويًا لتكريم الإنجازات في صناعة الموسيقى من قبل الأكاديمية الوطنية لتسجيل الفنون والعلوم.
                    </div>
                </div>
            </div>
            <div class="award-item">
                <img src="{% static 'img/b3.jpeg' %}" alt="جائزة بالون دور">
                <div>
                    <div class="award-title">جائزة بالون دور</div>
                    <div class="award-description">
                        جائزة بالون دور تُمنح سنويًا لأفضل لاعب كرة قدم في العالم من قبل مجلة فرانس فوتبول.
                    </div>
                </div>
            </div>
            <div class="award-item">
                <img src="{% static 'img/b3.jpeg' %}" alt="جائزة إيمي">
                <div>
                    <div class="award-title">جائزة إيمي</div>
                    <div class="award-description">
                        جائزة إيمي هي جوائز تُمنح للإنتاج التلفزيوني، وهي تعادل جوائز الأوسكار (للفيلم)، غرامي (للموسيقى)، وتوني (للمسرح).
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}
