{% extends "main/base.html" %}
{% load static %}
{% block title %}الرئيسية{% endblock title %}


{% block content %}

<div class="relative isolate inset-y-16 overflow-hidden bg-gray-900  py-24 sm:py-32 w-full h-screen">
    <img src="static/img/bg1.jpeg" alt="background"
        class="absolute inset-0 -z-10 h-full w-full object-cover object-right md:object-center opacity-25 p-0">

    <div class="mx-auto max-w-7xl p-6 lg:px-8 text-slate-300">
        <div class="mx-auto max-w-2xl lg:mx-0">
            <h2 class="text-4xl leading-relaxed font-bold tracking-tightsm:text-6xl">إنجازات المملكة في مجال التقنية.. نجاحات لا تتوقف</h2>
            <p class="mt-6 text-lg leading-8 ">
                بسجلات مضيئة، ومنجزات غير مسبوقة تطوي المملكة العربية السعودية عام 2023م بتحقيق الكثير من مستهدفاتها
                بفضل الله
                قبل أوانها.
            </p>
            <p class="mt-6 text-lg leading-8 ">
                هذه المنجزات والتي بكل موضوعية يصعب حصرها، وتتبع حراكها اليومي، لتؤكد على حنكة قيادتها، وتفاني مسؤوليها،
                وتماهي
                شعبها مع ذلك الحراك المذهل لرؤية الأحلام رؤية 2030م، والتي تحظى بدعم لا محدود من خادم الحرمين الشريفين
                الملك
                سلمان بن عبدالعزيز لولي عهده مهندس الرؤية، رئيس مجلس الوزراء، صاحب السمو الملكي الأمير محمد بن سلمان بن
                عبدالعزيز حفظهما الله
            </p>
        </div>
        <div class="mx-auto mt-10 max-w-2xl lg:mx-0 lg:max-w-none">
            <dl class="mt-16 grid grid-cols-1 gap-8 sm:mt-20 sm:grid-cols-2 lg:grid-cols-4">
                <div class="flex flex-col-reverse">
                    <dt class="text-base leading-7">Offices worldwide</dt>
                    <dd class="text-2xl font-bold leading-9 tracking-tight">12</dd>
                </div>
                <div class="flex flex-col-reverse">
                    <dt class="text-base leading-7">Full-time colleagues</dt>
                    <dd class="text-2xl font-bold leading-9 tracking-tight">300+</dd>
                </div>
                <div class="flex flex-col-reverse">
                    <dt class="text-base leading-7">Hours per week</dt>
                    <dd class="text-2xl font-bold leading-9 tracking-tight">40</dd>
                </div>
                <div class="flex flex-col-reverse">
                    <dt class="text-base leading-7 ">Paid time off</dt>
                    <dd class="text-2xl font-bold leading-9 tracking-tight">Unlimited</dd>
                </div>
            </dl>
        </div>
    </div>
</div>


{% endblock content %}

<!-- bg-[url('../img/bg1.jepg')] -->
<!-- bg-gradient-to-tr from-[#1f2041] to-[#1f2041]  -->

<!-- bg-gradient-to-tr from-slate-700 via-slate-800 to-sky-900  ممكن افضل من اللون الحالي -->

<!-- <div class=" flex justify-center w-24 h-32 bg-[url('../static/img/bg1.jpeg')]">

    </div> -->

