{% extends "tourister/base.html" %}
{% load static %}

{% block content %}

<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>

<div class="scale-up-center">

    <div class="content-home-padding">
        <div class="slide-in-elliptic-right-bck">
            <h1 class="bold-font-prop ">Our Visitors Feedback</h1>
        </div>

    
        <div class="card-grid">
         {% for key, value in firebase_data.items %}
         <div class="relative flex flex-col mt-6 text-gray-700 bg-white shadow-md bg-clip-border rounded-xl w-80 overflow-hidden">
                    <img src="{% static 'images/allthekings.jpg' %}" alt="card-image" class="w-full h-56 object-cover rounded-t-xl" />
                  <div class="pt-6 flex justify-center">
                        <h1 class="block font-sans text-lg antialiased font-bold leading-relaxed text-inherit flex justify-center ">
                            {{ key }}
                        </h1>
                    </div>
                    <div class="p-6 flex justify-center">
                        <p class="block font-sans text-base antialiased font-light leading-relaxed text-inherit flex justify-center">
                           {{ value }}
                        </p>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    <br><br>
   
</div>
{% endblock content %}
