{% extends "tourister/base.html" %}
{% load static %}

{% block content %}
<style>
    .background-image {
        background-image: url("/static/images/allthekings.jpg");
        background-size: cover;
        background-position: center;
    }

    .shadow-pop-tr {
        -webkit-animation: shadow-pop-tr 0.3s ease-in both;
        animation: shadow-pop-tr 0.3s ease-in both;
    }

    /* Keyframes for animation */
    @-webkit-keyframes shadow-pop-tr {
        0% {
            -webkit-box-shadow: 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e;
            box-shadow: 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e;
            -webkit-transform: translateX(0) translateY(0);
            transform: translateX(0) translateY(0);
        }
        100% {
            -webkit-box-shadow: 1px -1px #3e3e3e, 2px -2px #3e3e3e, 3px -3px #3e3e3e, 4px -4px #3e3e3e, 5px -5px #3e3e3e, 6px -6px #3e3e3e, 7px -7px #3e3e3e, 8px -8px #3e3e3e;
            box-shadow: 1px -1px #3e3e3e, 2px -2px #3e3e3e, 3px -3px #3e3e3e, 4px -4px #3e3e3e, 5px -5px #3e3e3e, 6px -6px #3e3e3e, 7px -7px #3e3e3e, 8px -8px #3e3e3e;
            -webkit-transform: translateX(-8px) translateY(8px);
            transform: translateX(-8px) translateY(8px);
        }
    }
    @keyframes shadow-pop-tr {
        0% {
            -webkit-box-shadow: 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e;
            box-shadow: 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e;
            -webkit-transform: translateX(0) translateY(0);
            transform: translateX(0) translateY(0);
        }
        100% {
            -webkit-box-shadow: 1px -1px #3e3e3e, 2px -2px #3e3e3e, 3px -3px #3e3e3e, 4px -4px #3e3e3e, 5px -5px #3e3e3e, 6px -6px #3e3e3e, 7px -7px #3e3e3e, 8px -8px #3e3e3e;
            box-shadow: 1px -1px #3e3e3e, 2px -2px #3e3e3e, 3px -3px #3e3e3e, 4px -4px #3e3e3e, 5px -5px #3e3e3e, 6px -6px #3e3e3e, 7px -7px #3e3e3e, 8px -8px #3e3e3e;
            -webkit-transform: translateX(-8px) translateY(8px);
            transform: translateX(-8px) translateY(8px);
        }
    }


</style>

<div class="flex justify-center items-center h-screen background-image">
    <div class="flex justify-center items-center h-screen">
        <div>
            <div class="bg-lime-950	 grid grid-cols-6 gap-0 rounded-xl p-16 pl-32 pr-32 text-sm mb-16 ">
                <div class="col-span-6 flex justify-center">
                    <img src="{% static 'images/pngegg.png' %}" alt="Image description" class="rounded-full h-32 w-40 mx-auto block">
                </div>
                <h1 class="text-center text-teal-500 text-xl font-bold col-span-6 mb-4">Send Feedback</h1>

                <form method="post" action="{% url 'Tourister:contact' %}" class="col-span-6">
                    {% csrf_token %}
                    <div class="col-span-6 mb-8">
                        <label for="id_field_name" class="text-teal-500">Enter your Name</label>
                        <input type="text" id="id_field_name" name="field_name" class="text-teal-900 h-12 px-4 rounded-lg w-full focus:outline-none focus:bg-white focus:border-teal-500 border border-teal-300 placeholder-teal-600 placeholder-opacity-50" placeholder="Enter your name" required>
                    </div>
                    <div class="col-span-6 mb-4">
                        <label for="id_field_value" class="text-teal-500">Enter your Feedback</label>
                        <input type="text" id="id_field_value" name="field_value" class="text-teal-900 h-12 px-4 rounded-lg w-full focus:outline-none focus:bg-white focus:border-teal-500 border border-teal-300 placeholder-teal-600 placeholder-opacity-50" placeholder="Enter your Feedback" required>
                    </div>
                    <div class="col-span-6 flex justify-center">
                        <button type="submit" class="bg-teal-900 text-white py-2 px-16 rounded-lg mt-4">Send</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock content %}
