{% extends 'main/activity-base.html' %}

{%load static%}

{% block title %} لهيب العلا {% endblock %}
{% block Activity-title %}سباق لهيب العلا   {% endblock %}
{% block 1stActivity-img %}<img src="\static\images\hero-02-1.webp" alt="" class="home__img">{% endblock %}
{% block 2stActivity-img %} <img src="\static\images\hero-05-1.webp" alt="" class="home__img">{% endblock %}
{% block Activity-duration %} موعد الانطلاق ٢٤ اغسطس {%endblock %}
{% block Activity-price %}    ١٦ سنه أو أكبر (٥ كم، ١٠ كم) | ١٨ سنة أو أكبر (٢١ كم، ٤٢ كم) {% endblock %}
{% block groub-size %}غير محدد{% endblock %}
{% block RESERVATIONS%}<a href="https://www.experiencealula.com/ar/whats-on/events/alula-desert-blaze?utm_source=google&utm_medium=search&utm_campaign=cn%7Ealulanewalwayson_ch%7Esearch_mk%7Esa_&utm_content=alulamomentsbrandexact&utm_term=ag%7Ealulanewalwayson_mk%7Esa_lg%7Ear_&gclid=CjwKCAjwtNi0BhA1EiwAWZaANIzRVyz5zjmdIxThlbZT3tQJF7C1MoxLd9aqi_sbfqmmRPLD9rhwgxoCNOIQAvD_BwEw=2235157">للمزيد من المعلومات  الموقع الرسمي</a> {% endblock %}
{% block overview-titel"%} نظرة عامة على الرحلة {% endblock %}   
{% block overview-paragraph"%} يختبر سباق «لهيب العلا» الفريد من نوعه قدرة المحترفين على تحمّل أعلى درجات الحرارة في ذروة الصيف. منافسة من أصعب المستويات بمشاركة العدائين من جميع أنحاء العالم مع خيارات السباق لمسافة 5 كيلومتر، 10 كيلومتر، نصف ماراثون (21 كيلومتر) أو ماراثون كامل (42 كيلومتر). جري المشاركون في مسارات متعددة بين تضاريس العلا الصحراوية ومعالمها الطبيعية المذهلة كالحِجر وهو أول مواقع التراث العالمي لليونسكو، وكذلك قاعة مرايا، هذه التحفة الفنية الحديثة التي تتربع الأودية الصحراوية في العلا. ولضمان راحة وسلامة المشاركين، تتوفر محطات مياه الشرب في نقاط معينة على طول مسارات الجري، وسيارات الإسعاف في حال حدوث أي إصابات{% endblock %}
{% block google-map-link"%}<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d113942.86128904296!2d38.13442539110556!3d26.817220551232033!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x15a5b4c133b304cb%3A0x9078bca28d0e0422!2z2KfZhNit2ZDYrNmS2LE!5e0!3m2!1sar!2ssa!4v1721208698019!5m2!1sar!2ssa" width="600" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"> </iframe> {% endblock %} 


{% block 1sthistory-img %}<img src="/static/images/jabal-albanat-alula.jpg" alt="Jabal Albanat Alula" >{% endblock %}
{% block 2sthistory-img %}<img src="/static/images/jabal-al-ahmar-alula.jpg" alt="Jabal Al Ahmar Alula" >{% endblock %}

{% block history-title %} تاريخ وتراث من الحجر{% endblock %}
{% block history-paragraph %}  تقع مدائن صالح على بعد ٢٢ كم شمال شرق مدينة العلا، ٤٠٠ كم شمال غرب المدينة المنورة ٥٠٠ كم إلى الجنوب الشرقي من البتراء الواقعة في الأردن، وتقع تحديداً عند دائرة عرض ٤٧ ـ ٢٦ شمالاً، وخط طول ٥٣ ـ ٣٧ شرقاً. يقع الموقع الأثري على منطقة سهلية، عند سفح هضبة من البازلت التي تشكل الجزء الجنوبي الشرقي من جبال الحجاز. الأجزاء الغربية والشمالية الغربية للموقع، تحتوي على المياه الجوفية التي يمكن الوصول إليها على عمق ٢٠ متراً تقريباً. يتميز الموقع بطبيعته الصحراوية التي تتسم بالنتوءات الواقعة على الصخور بمختلف الأحجام والارتفاعات. تتميز منطقة مدائن صالح بالتكوينات الصخرية، كما أنها تتميز أيضاً بتنوّع ألوان صخورها الرملية بين الأحمر والأصفر والأبيض. بالإضافة إلى أن الموقع محاط بالكثبان الرملية من جميع الجهات {% endblock %}
