{% extends 'main/activity-base.html' %}

{%load static%}

{% block title %} لهيب العلا {% endblock %}
{% block Activity-title %}سباق لهيب العلا   {% endblock %}
{% block 1stActivity-img %}<img src="\static\images\hero-02-1.webp" alt="" class="home__img">{% endblock %}
{% block 2stActivity-img %} <img src="\static\images\hero-05-1.webp" alt="" class="home__img">{% endblock %}
{% block Activity-duration %} موعد الانطلاق ٢٤ اغسطس {%endblock %}
{% block Activity-price %}    ١٦ سنه أو أكبر (٥ كم، ١٠ كم) | ١٨ سنة أو أكبر (٢١ كم، ٤٢ كم) {% endblock %}
{% block groub-size %}غير محدد{% endblock %}
{% block RESERVATIONS%}<a href="https://www.experiencealula.com/ar/whats-on/events/alula-desert-blaze?utm_source=google&utm_medium=search&utm_campaign=cn%7Ealulanewalwayson_ch%7Esearch_mk%7Esa_&utm_content=alulamomentsbrandexact&utm_term=ag%7Ealulanewalwayson_mk%7Esa_lg%7Ear_&gclid=CjwKCAjwtNi0BhA1EiwAWZaANIzRVyz5zjmdIxThlbZT3tQJF7C1MoxLd9aqi_sbfqmmRPLD9rhwgxoCNOIQAvD_BwEw=2235157">للمزيد من المعلومات  الموقع الرسمي</a> {% endblock %}
{% block overview-titel"%} نظرة عامة على الرحلة {% endblock %}   
{% block overview-paragraph"%} يختبر سباق «لهيب العلا» الفريد من نوعه قدرة المحترفين على تحمّل أعلى درجات الحرارة في ذروة الصيف. منافسة من أصعب المستويات بمشاركة العدائين من جميع أنحاء العالم مع خيارات السباق لمسافة 5 كيلومتر، 10 كيلومتر، نصف ماراثون (21 كيلومتر) أو ماراثون كامل (42 كيلومتر). جري المشاركون في مسارات متعددة بين تضاريس العلا الصحراوية ومعالمها الطبيعية المذهلة كالحِجر وهو أول مواقع التراث العالمي لليونسكو، وكذلك قاعة مرايا، هذه التحفة الفنية الحديثة التي تتربع الأودية الصحراوية في العلا. ولضمان راحة وسلامة المشاركين، تتوفر محطات مياه الشرب في نقاط معينة على طول مسارات الجري، وسيارات الإسعاف في حال حدوث أي إصابات{% endblock %}
{% block google-map-link"%}<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d227966.82310265803!2d38.25252100546874!3d26.776856099999996!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x15a5b492ba53e409%3A0x1b40f98960714ab0!2zSGVncmEgfCDYp9mE2K3ZkNis2LE!5e0!3m2!1sar!2ssa!4v1721115810507!5m2!1sar!2ssa" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>  {% endblock %} 
