{% extends 'main/activity-base.html' %}

{%load static%}

{% block title %} ماركا {% endblock %}
{% block Activity-title %} ماركا: قصة حب في جزيرة ساحرة  {% endblock %}
{% block 1stActivity-img %}<img src="\static\images\marka1.jpeg" alt="" class="home__img">{% endblock %}
{% block 2stActivity-img %} <img src="\static\images\marka3.jpeg" alt="" class="home__img">{% endblock %}
{% block Activity-duration %}  يومان  {% endblock %}
{% block Activity-price %}  ٦،٥٠٠ ريال للفرد  {% endblock %}
{% block groub-size %} غير محدد{% endblock %}
{% block RESERVATIONS%}<a href="https://book.visitsaudi.com/sa-ar/experiences/عسير/الترفيه/marqa-love-a-romantic-journey-to-the-paradise-of-love-a-journey-for-two/book">للحجز من الموقع الرسمي</a> {% endblock %}
{% block overview-titel"%} نظرة عامة على الرحلة {% endblock %}   
{% block overview-paragraph"%} -تُعد من أجمل الجزر الطبيعية البكر في المملكة، لما تتمتع به من طبيعة ملائمة للسباحة والغوص والصيد -ولمحبي الغوص والطبيعة البحرية هناك تشكيلة متنوِّعة من الشعاب المتفرقة الحافية والقبابية و الأخدودية والفرعية -في الطريق إلى الجزيرة يستطيع السياح ممارسة العديد من الهوايات كتصوير الدلافين والبجع وجمال المقومات الطبيعية التي تتزين بها الجزيرة. الرحلة تشمل المبيت.{% endblock %}
{% block google-map-link"%}<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3789.5551590904392!2d41.33059255963407!3d18.230354782879385!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x15e3dffa4b02961d%3A0x5b23c25ca29d6fa8!2z2KzYstmK2LHYqSDZhdin2LHZg9in!5e0!3m2!1sar!2ssa!4v1721210646377!5m2!1sar!2ssa" width="600" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>{% endblock %} 
