{% extends 'main/activity-base.html' %}

{%load static%}

{% block title %} ساروات {% endblock %}
{% block Activity-title %}نزهة ساروات الممتعة {% endblock %}
{% block 1stActivity-img %}<img src="\static\images\sarawt1.jpg" alt="" class="home__img">{% endblock %}
{% block 2stActivity-img %} <img src="\static\images\sarawt4.webp" alt="" class="home__img">{% endblock %}
{% block Activity-duration %} ساعتان الى ساعاتان ونصف{% endblock %}
{% block Activity-price %}أسعار تبدا من ٢٨٤ ريال{% endblock %}
{% block groub-size %} ٨-١٢{% endblock %}
{% block RESERVATIONS%}<a href="https://abha.platinumlist.net/ar/event-tickets/sarawat-fun-hike/casual-ticket-office?id_event_show=2235157">للحجز من الموقع الرسمي</a> {% endblock %}
{% block overview-titel"%} نظرة عامة على الرحلة {% endblock %}   
{% block overview-paragraph"%} جبال ساراوات هي جزء من جبال الحجاز في غرب شبه الجزيرة العربية، بالتوازي مع البحر الأحمر.سنمر عبر مسارات الغابات الوعرة مع صوت الأوراق المتساقطة ورائحة التربة الرطبة. في كل منعطف آخر، سيفتح الطريق إلى مناظر خلابة يمكن أن تبرد قلوبنا في الحرارة.

ابق متيقظا لاكتشاف النمر العربي المراوغ، ولكن استرخ خلال المشي أثناء تكوين صداقات مع الحشرات والطيور وأشجار عسير.

مرر عبر مزارع أبها الجميلة حيث يمكنك تجربة يديك والحصول على بعض الفواكه الطازجة. اكتشف مقتطفات رائعة من التاريخ المحلي على طول الطريق. سواء كنت متنزها محنكا أو مجرد نزهة غير رسمية، فإن مساراتنا تلبي جميع مستويات المغامرة.

استرخ في الحقول مع الشاي العربي بينما تفكر في هذه الرحلة مع أصدقاء وذكريات جديدة.{% endblock %}
{% block google-map-link"%}<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d15155.00499391364!2d42.3783557373411!3d18.267221424444003!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x15e359bded47c2c1%3A0x2e8545f36791c06a!2z2KzYqNin2YQg2KfZhNiz2LHZiNin2Ko!5e0!3m2!1sar!2ssa!4v1721065182999!5m2!1sar!2ssa" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>  {% endblock %} 

{% block 1sthistory-img %}<img src="/static/images/Sarawat_Mountain1.jpg" alt="Jabal Albanat Alula" >{% endblock %}
{% block 2sthistory-img %}<img src="/static/images/Sarawat_Mountain2.jpg" alt="Jabal Al Ahmar Alula" >{% endblock %}

{% block history-title %} تاريخ وتراث من الساروات{% endblock %}
{% block history-paragraph %}  تمتد هذه الجبال من حدود المملكة مع الجمهورية اليمنية جنوباً حتى مدينة الطائف شمالاً، ويتراوح ارتفاعها بين ٨٠٠ إلى ٣٠٠٠ متر فوق مستوى سطح البحر، وتنحدر منها نحو الغرب أودية تهامة السعودية، وتسيل منها نحو الشرق أودية كثيرة منها روافد وادي نجران ووادي حبونا وأعالي روافد وادي الدواسر مثل وادي تثليث ووادي بيشة ووادي رنية ووادي تربة وتنقسم الساروات الى ١٢ قسم رئيسي
{% endblock %}
