body {
    transition: background-color 0.3s, color 0.3s;
}

.dark-mode {
    background-color: #121212;
    color: #ffffff;
}

.navbar-dark-mode {
    background-color: #333333;
    color: #ffffff;
}

.dark-mode .navbar-brand,
.dark-mode .nav-link {
    color: #ffffff;
}
