{% extends "main/base.html" %}

{% block title %}Accommodation List{% endblock %}

{% block content %}
<h1><strong>Accommodation</strong></h1>
<div class="row">
    {% for accommodation in accommodations %}
    <div class="col-md-4">
        <div class="card mb-4 ">
            <a href="{% url 'accommodation_detail' accommodation.pk %}">
                <img class="card-img-top fixed-size" src="{{ accommodation.images.first.image.url }}" alt="{{ accommodation.name }}">
            </a>
            <div class="card-body">
                <h5 class="card-title"><strong>{{ accommodation.name }}</strong></h5>
                <p class="card-text"><strong>Type: </strong>{{ accommodation.type }}</p>
                <p> <strong>Phone: </strong>  <a href="tel:{{ accommodation.phone }}">{{ accommodation.phone }}</a></p>
                <a href="{% url 'accommodation_detail' accommodation.pk %}">More info</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
