{% extends "main/base.html" %}

{% block title %}{{ accommodation.name }}{% endblock %}

{% block content %}

<div class="jumbotron">
    <div class="row">
        <div class="col-md-8">
            <h1>{{ accommodation.name }}</h1>
            <p><strong>Type: </strong> {{ accommodation.type }}</p>
            <p> <strong>Phone: </strong>  <a href="tel:{{ accommodation.phone }}">{{ accommodation.phone }}</a></p>
            <p><strong>Location:</strong> <a href="https://www.google.com/maps/search/?api=1&query={{ accommodation.location|urlencode }}" target="_blank">{{ accommodation.location }}</a></p>

            <h2>Amenities</h2>
            <ul>
                {% for amenity in accommodation.amenities.all %}
                    <li>{{ amenity.name }}</li>
                {% endfor %}
            </ul>

            <h2>Images</h2>
            <div class="row">
                {% for image in accommodation.images.all %}
                    <div class="col-md-4">
                        <a href="{{ image.image.url }}" data-lightbox="accommodation-gallery" data-title="{{ accommodation.name }}">
                            <img src="{{ image.image.url }}" class="img-fluid mb-2 gallery-img" alt="Image for {{ accommodation.name }}">
                        </a>                    
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
