{% extends 'main/base.html' %}
{% block title %}Heritage Sites{% endblock %}
{% block content %}
<h1>Heritage Sites</h1>
<div class="row">
    {% for site in sites %}
    <div class="col-md-4">
        <div class="card mb-4">
            <img class="card-img-top" src="{{ site.images.url }}" alt="{{ site.name }}">
            <div class="card-body">
                <h5 class="card-title">{{ site.name }}</h5>
                <p class="card-text">{{ site.description }}</p>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
