{% extends 'guide/base.html' %}

{% block title %} Saudi Cities {% endblock %}
{% block content %}
<section class ="city">
    <h1> Saudi Cities To Enjoy Staying At.</h1>
    <p>Riyadh, Jeddah, and Abha are three captivating Saudi cities offering unique experiences. Riyadh, the capital, blends modernity and tradition with landmarks like Al Masmak Fortress, the National Museum, and the Kingdom Centre Tower. Jeddah, on the Red Sea coast, boasts the Jeddah Corniche, historic Al-Balad, and the King Fahd Fountain, along with a vibrant culinary scene. Abha, nestled in the Sarawat Mountains, offers cool climates, lush landscapes, and cultural sites like Asir National Park, Rijal Alma village, and Al-Muftaha Art Village. These cities provide a rich mix of history, culture, and natural beauty, making them must-visit destinations.</p>
    <div class="row">
        <div class="city-col">
            <img src="https://res.cloudinary.com/dirlusg8s/image/upload/v1721281097/riyadh_ojh8ap.jpg" alt="">
            <div class="layer">
                <h3>RIYADH</h3>
            </div>
        </div>
        <div class="city-col">
            <img src="https://res.cloudinary.com/dirlusg8s/image/upload/v1721266518/jed6_wpxbu7.jpg" alt="">
            <div class="layer">
                <h3>JEDDAH</h3>
            </div>
        </div>
        <div class="city-col">
            <img src="https://res.cloudinary.com/dirlusg8s/image/upload/v1721266519/abha3_m6uge7.png" alt="">
            <div class="layer">
                <h3>ABHA</h3>
            </div>
        </div>  
    </div>



</section>

       
{% endblock %}