{% extends 'guide/base.html' %}

{% block title %} Tourist Guide Home {% endblock %}
{% block content %}
<div class ="text-video">
    <div class="homePhrase">
        <h1>Welcome To Saudi Arabia</h1>
        <p>Visiting Saudi Arabia is an enticing invitation for travelers, showcasing its captivating allure and encouraging exploration. With its rich cultural heritage, stunning desert landscapes, and modern developments, Saudi Arabia promises a unique and rewarding experience for those seeking adventure and cultural immersion in the Middle East.</p>
    </div>
    <video id="autoplayVideo" width="560" controls autoplay muted>
        <source src="https://res.cloudinary.com/dirlusg8s/video/upload/v1721128860/tourism_saudi_a3lndf.mp4" type="video/mp4">
    </video>
    <div class="video-container">
        <script>
            document.addEventListener('DOMContentLoaded', function() {
                var video = document.getElementById('autoplayVideo');
                video.play().then(() => {
                    if (video.requestFullscreen) {
                        video.requestFullscreen();
                    } else if (video.mozRequestFullScreen) { // Firefox
                        video.mozRequestFullScreen();
                    } else if (video.webkitRequestFullscreen) { // Chrome, Safari, Opera
                        video.webkitRequestFullscreen();
                    } else if (video.msRequestFullscreen) { // IE/Edge
                        video.msRequestFullscreen();
                    }
    
                    video.addEventListener('ended', function() {
                        if (document.fullscreenElement) {
                            document.exitFullscreen();
                        } else if (document.mozFullScreenElement) {
                            document.mozCancelFullScreen();
                        } else if (document.webkitFullscreenElement) {
                            document.webkitExitFullscreen();
                        } else if (document.msFullscreenElement) {
                            document.msExitFullscreen();
                        }
    
                        video.style.display = 'none';
                    });
                }).catch((error) => {
                    console.log("Autoplay was prevented: " + error);
                });
            });
        </script>
    </div>
</div>


<!-- <div class="container flex-column mt-5 mb-5">
    <div class="w-50">
         <h1 class="h1-text"> FIND YOUR DREAMS</h1>
        <h6>Our catalog will surprise you. Rather, discover an unprecedented offers of luxury properties. Our catalog will surprise you. Rather, discover an unprecedented offers of luxury properties</h6>
        <a class="btn btn-dark rounded-4 mt-4" href="{% url 'guide:pictures' %}">Explore Pictures</a>
    </div>
</div>

<div class="container d-flex flex-column pt-2 mt-1 align-items-center justify-content-center bg-white rounded-5 w-50 ">
    <div class="d-flex justify-content-center flex-grow gap-5">
        <span class="all material-symbols-outlined p-2 rounded-4">home</span>
        <span class="properties material-symbols-outlined p-2 rounded-4" >factory</span>
        <span class="hotel material-symbols-outlined p-2 rounded-4">hotel</span>
        <span class="villa material-symbols-outlined p-2 rounded-4">villa</span>
    </div>
    <div class="d-flex justify-content-center flex-grow gap-4">
        <p class="all-text">ALL</p>
        <p class="properties-text">PROPERTIES</p>
        <p class="hotel-text" >HOTEL</p>
        <p class="villa-text">VILLA</p>

    </div>
</div> -->

{% endblock %}