{% extends 'main/base.html' %}

{% load static %}

{% block title %}

{% endblock %}

{% block content %}

<div class="album bg-success-subtle p-0 py-5">
    <div class="container mt-5 p-4 text-white object-fit-none t-0">
      <div class="row">
        <div class="col">
          <div class="card">
            <img class="card-img-top" src="{% static 'images/a6.jpg' %}" alt="Card image cap">
          </div>
        </div>
        <hr class="w-100 clearfix d-md-none" />
        <div class="col h-100">
          <div class="card h-100">
            <div class="card-body h-100">
              <h1 class="card-title">The Green Oasis</h1>
              <p class="card-text">Al-Ahsa has been inhabited since prehistoric times because of its abundance of water in an 
                otherwise arid region. Natural fresh-water springs have surfaced at oases in the region for millennia, 
                encouraging human habitation and agricultural efforts (date palm cultivation especially) since prehistoric times.
                The oasis region and specifically the name Hajar may be related to the Ancient Near East 
                toponym Agarum, mentioned in Dilmunite inscriptions as the original home of their chief deity Inzak. If so, 
                Agarum probably referred to the mainland area of Arabia lying opposite Bahrain. According to the hypothesis, 
                the Dilmun civilization originated at the oases of Eastern Arabia, but later relocated to the isle of Bahrain. 
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>
    
    <div class="album py-5">
      <div class="container mt-2 p-1">
        <div class="row card-body">
            
          <div class="col-6 text-center">
            <div class="p-0 b-0 blank-0 col-sm object-fit-none">
              <div class="image-container">
                <div class="text-success">
                  <h1 class="display-1">The</h1>
                  <h1 class="display-1">Oasis</h1>
                  <h1 class="display-1">of</h1>
                  <h1 class="display-1">NoWhere</h1>
                </div>
          </div>
          </div>
        </div>
        <hr class="w-100 clearfix d-md-none" />
          <div class="col-6">
              <div id="slider">
                  <figure>                
                    <img src="{% static 'images/a1.jpg' %}" class="rounded">
                    <img src="{% static 'images/a2.jpg' %}" class="rounded">
                    <img src="{% static 'images/a3.jpg' %}" class="rounded">
                    <img src="{% static 'images/a4.jpg' %}" class="rounded">
                    <img src="{% static 'images/a1.jpg' %}" class="rounded">
                  </figure>
              </div>
          </div>
          
      </div>
    </div>
    </div>
    
    <div class="album bg-success-subtle">
    <div class="container mt-5 p-4">
        <h1 class="text-center p-3">The New Europe</h1>
      <div class="row p-3">
        <div class="col">
          <img src="{% static 'images/a6.jpg' %}" class="card-img shadow rounded-circle">
          <h5 class="text-center p-3">Qarrah Mountain</h5>
        </div>
        <hr class="w-100 clearfix d-md-none" />
        <div class="col">
          <img src="{% static 'images/a1.jpg' %}" class="card-img shadow rounded-circle">
          <h5 class="text-center p-3">a sky view of the Oasis</h5>
        </div>
        <hr class="w-100 clearfix d-md-none" />
        <div class="col">
          <img src="{% static 'images/a2.jpg' %}" class="card-img shadow rounded-circle">
          <h5 class="text-center p-3">The yellow lake</h5>
        </div>
      </div>
      <div class="row p-3">
        <div class="col">
          <img src="{% static 'images/a3.jpg' %}" class="card-img shadow rounded-circle">
          <h5 class="text-center p-3">The Amiri school</h5>
        </div>
        <hr class="w-100 clearfix d-md-none" />
        <div class="col">
          <img src="{% static 'images/a4.jpg' %}" class="card-img shadow rounded-circle">
          <h5 class="text-center p-3">Sultan Ibrahim Castle</h5>
        </div>
        <hr class="w-100 clearfix d-md-none" />
        <div class="col">
          <img src="{% static 'images/a5.jpg' %}" class="card-img shadow rounded-circle">
          <h5 class="text-center p-3">Aljawhariah well</h5>
        </div>
      </div>
    </div>
    </div>
    
    <div class="album">
      <div class="container mt-5 p-1 text-white">
        <h1 class="text-center p-3 text-black">a short film of the mother of trees</h1>
        <div class="row">
          <div class="col">
            <iframe width="100%" height="350px"
              src="https://www.youtube.com/embed/dHcz-CTzNEU?autoplay=1&mute=1" frameborder="0" allowfullscreen>
            </iframe>
          </div>
        </div>
      </div>
    </div>


{% endblock %}