{% extends 'main/base.html' %}

{% load static %}

{% block title %}

{% endblock %}

{% block content %}

<div class="container mt-5 p-4">
    <h2 class="text-center py-3">Saudi Arabia famous dishes</h2>
    <p class="text-center">every time you visit a country, trying their famous dishes is a most do thing</p>
    <p class="text-center">here is some of our traditional table food that will satisfy your desire</p>
    <div class="row">
        <div class="col-4 p-3 rounded">
            <img src="{% static 'images/f1.jpg' %}" class="card-img shadow rounded-circle">
            <h5 class="text-center p-3">Kabsah</h5>
        </div>
        <hr class="w-100 clearfix d-md-none" />
        <div class="col-4 p-3 rounded">
            <img src="{% static 'images/f2.jpg' %}" class="card-img shadow rounded-circle">
            <h5 class="text-center p-3">Mufatah</h5>
        </div>
        <hr class="w-100 clearfix d-md-none" />
        <div class="col-4 p-3 rounded">
            <img src="{% static 'images/f3.jpg' %}" class="card-img shadow rounded-circle">
            <h5 class="text-center p-3">shrimp mahmous</h5>
        </div>
    </div>

    <div class="row">
        <div class="col-4 p-3 rounded">
            <img src="{% static 'images/f4.jpg' %}" class="card-img shadow rounded-circle">
            <h5 class="text-center p-3">Mandi</h5>
        </div>
        <hr class="w-100 clearfix d-md-none" />
        <div class="col-4 p-3 rounded">
            <img src="{% static 'images/f5.jpg' %}" class="card-img shadow rounded-circle">
            <h5 class="text-center p-3">saleeq</h5>
        </div>
        <hr class="w-100 clearfix d-md-none" />
        <div class="col-4 p-3 rounded">
            <img src="{% static 'images/f6.jpg' %}" class="card-img shadow rounded-circle">
            <h5 class="text-center p-3">mutazeez</h5>
        </div>
    </div>

    <div class="row">
        <div class="col-4 p-3 rounded">
            <img src="{% static 'images/f7.jpg' %}" class="card-img shadow rounded-circle">
            <h5 class="text-center p-3">saloona</h5>
        </div>
        <hr class="w-100 clearfix d-md-none" />
        <div class="col-4 p-3 rounded">
            <img src="{% static 'images/f8.jpeg' %}" class="card-img shadow rounded-circle">
            <h5 class="text-center p-3">harisa</h5>
        </div>
        <hr class="w-100 clearfix d-md-none" />
        <div class="col-4 p-3 rounded">
            <img src="{% static 'images/f9.jpeg' %}" class="card-img shadow rounded-circle">
            <h5 class="text-center p-3">kulija</h5>
        </div>
    </div>

</div>

{% endblock %}