{% extends 'main/base.html' %}

{% load static %}

{% block title %}

{% endblock %}

{% block content %}


<div class="album bg-success-subtle p-0 py-5">
    <div class="container mt-5 p-4 text-white object-fit-none t-0">
      <div class="row">
        <div class="col">
          <div class="card">
            <img class="card-img-top" src="{% static 'images/h1.jpg' %}" alt="Card image cap">
          </div>
        </div>
        <hr class="w-100 clearfix d-md-none" />
        <div class="col h-100">
          <div class="card h-100">
            <div class="card-body h-100">
              <h1 class="card-title">To where your soul is destined</h1>
              <p class="card-text">Makkah and Madinah are the holiest cities in islam. Makkah is the qibalh that muslims pray toward.
                while Madinah has the graves of prophet Mohammed, his family, and companions. These two cities are only accessible by 
                Muslims. They're famous for having a rich Islamic historical places that tell you a lot about the birth of Islam.
                They are busy the whole year but they get heavily crowded in the Month of Tho Alhojja which is the month of Hajj
                pligrimage and also on the fasting month of Ramadan. Makkah is generally considered "the fountainhead and cradle of 
                Islam". Makkah is revered in Islam as the birthplace of the Islamic prophet Muhammad. The Hira cave atop the Jabal
                 al-Nur is where Muslims believe the Quran was first revealed to Muhammad.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>
    
    <div class="album py-5">
      <div class="container mt-2 p-1">
        <div class="row card-body">
            
          <div class="col-6 text-center">
            <div class="p-0 b-0 blank-0 col-sm object-fit-none">
              <div class="image-container">
                <div class="text-success">
                  <h1 class="display-1">Makkah Almukarramah</h1>
                  <h1 class="display-1">& Almadinah Almunwarah</h1>
                </div>
          </div>
          </div>
        </div>
        <hr class="w-100 clearfix d-md-none" />
          <div class="col-6">
              <div id="slider">
                  <figure>                
                    <img src="{% static 'images/h5.jpg' %}" class="rounded">
                    <img src="{% static 'images/h2.jpg' %}" class="rounded">
                    <img src="{% static 'images/h3.jpg' %}" class="rounded">
                    <img src="{% static 'images/h4.jpg' %}" class="rounded">
                    <img src="{% static 'images/h5.jpg' %}" class="rounded">
                  </figure>
              </div>
          </div>
          
      </div>
    </div>
    </div>
    
    <div class="album bg-success-subtle">
    <div class="container mt-5 p-4">
        <h1 class="text-center p-3">The Holiest cities in Islam famous attractions</h1>
      <div class="row p-3">
        <div class="col">
          <img src="{% static 'images/h3.jpg' %}" class="card-img shadow rounded-circle">
          <h5 class="text-center p-3">Alnoor Mountain</h5>
        </div>
        <hr class="w-100 clearfix d-md-none" />
        <div class="col">
          <img src="{% static 'images/h1.jpg' %}" class="card-img shadow rounded-circle">
          <h5 class="text-center p-3">Alharam Almakki</h5>
        </div>
        <hr class="w-100 clearfix d-md-none" />
        <div class="col">
          <img src="{% static 'images/h2.jpg' %}" class="card-img shadow rounded-circle">
          <h5 class="text-center p-3">Makkah Meuseum</h5>
        </div>
      </div>
      <div class="row p-3">
        <div class="col">
          <img src="{% static 'images/h6.jpg' %}" class="card-img shadow rounded-circle">
          <h5 class="text-center p-3">alqiblateen mosque</h5>
        </div>
        <hr class="w-100 clearfix d-md-none" />
        <div class="col">
          <img src="{% static 'images/h5.jpg' %}" class="card-img shadow rounded-circle">
          <h5 class="text-center p-3">Alharam Almadani</h5>
        </div>
        <hr class="w-100 clearfix d-md-none" />
        <div class="col">
          <img src="{% static 'images/h4.jpg' %}" class="card-img shadow rounded-circle">
          <h5 class="text-center p-3">Qibaa mosque</h5>
        </div>
      </div>
    </div>
    </div>
    
    <div class="album">
      <div class="container mt-5 p-1 text-white">
        <h1 class="text-center p-3 text-black">A guide to the holy cities</h1>
        <div class="row">
          <div class="col">
            <iframe width="100%" height="350px"
              src="https://www.youtube.com/embed/1VzMWoeFFCg?autoplay=1&mute=1" frameborder="0" allowfullscreen>
            </iframe>
          </div>
        </div>
      </div>
    </div>

{% endblock %}