{% extends 'main/base.html' %}

{% load static %}

{% block title %}
    Jeddah
{% endblock %}

{% block content %}


<div class="album bg-success-subtle p-0 py-5">
    <div class="container mt-5 p-4 text-white object-fit-none t-0">
      <div class="row">
        <div class="col">
          <div class="card">
            <img class="card-img-top" src="{% static 'images/j1.jpeg' %}" alt="Card image cap">
          </div>
        </div>
        <hr class="w-100 clearfix d-md-none" />
        <div class="col h-100">
          <div class="card h-100">
            <div class="card-body h-100">
              <h1 class="card-title">Jeddah</h1>
              <p class="card-text"> is a port city in Makkah Province, Saudi Arabia, located along the Red Sea coast in the Hejaz region.
                 Jeddah is the commercial center of the country. It is not known when Jeddah was founded, but Jeddah's prominence grew
                  in 647 when the Caliph Uthman made it a travel hub serving Muslim travelers going to the holy city of Mecca for
                   Islamic pilgrimage. Since those times, Jeddah has served as the gateway for millions of pilgrims who have arrived
                    in Saudi Arabia, traditionally by sea and recently by air. With a population of about 3,751,722 people as of 2022,
                     Jeddah is the largest city in Makkah Province, the largest city in Hejaz, the second-largest city in Saudi
                      Arabia (after the capital Riyadh), and the ninth-largest in the Middle East.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>
    
    <div class="album py-5">
      <div class="container mt-2 p-1">
        <div class="row card-body">
            
          <div class="col-6 text-center">
            <div class="p-0 b-0 blank-0 col-sm object-fit-none">
              <div class="image-container">
                <div class="text-success">
                  <h1 class="display-1">Jeddah</h1>
                  <h1 class="display-1">The Pride</h1>
                  <h1 class="display-1">of The</h1>
                  <h1 class="display-1">Red Sea</h1>
                </div>
          </div>
          </div>
        </div>
        <hr class="w-100 clearfix d-md-none" />
          <div class="col-6">
              <div id="slider">
                  <figure>                
                    <img src="{% static 'images/j5.jpg' %}" class="rounded">
                    <img src="{% static 'images/j2.jpg' %}" class="rounded">
                    <img src="{% static 'images/j3.jpg' %}" class="rounded">
                    <img src="{% static 'images/j4.jpg' %}" class="rounded">
                    <img src="{% static 'images/j5.jpg' %}" class="rounded">
                  </figure>
              </div>
          </div>
          
      </div>
    </div>
    </div>
    
    <div class="album bg-success-subtle">
    <div class="container mt-5 p-4">
        <h1 class="text-center p-3">Jeddah top attractions</h1>
      <div class="row p-3">
        <div class="col">
          <img src="{% static 'images/j1.jpeg' %}" class="card-img shadow rounded-circle">
          <h5 class="text-center p-3">Jeddah Fountain</h5>
        </div>
        <hr class="w-100 clearfix d-md-none" />
        <div class="col">
          <img src="{% static 'images/j6.jpg' %}" class="card-img shadow rounded-circle">
          <h5 class="text-center p-3">King Abdullah sports city</h5>
        </div>
        <hr class="w-100 clearfix d-md-none" />
        <div class="col">
          <img src="{% static 'images/j2.jpg' %}" class="card-img shadow rounded-circle">
          <h5 class="text-center p-3">Albalad</h5>
        </div>
      </div>
      <div class="row p-3">
        <div class="col">
          <img src="{% static 'images/j3.jpg' %}" class="card-img shadow rounded-circle">
          <h5 class="text-center p-3">Altayebat Int. city</h5>
        </div>
        <hr class="w-100 clearfix d-md-none" />
        <div class="col">
          <img src="{% static 'images/j4.jpg' %}" class="card-img shadow rounded-circle">
          <h5 class="text-center p-3">Fakih aquarium</h5>
        </div>
        <hr class="w-100 clearfix d-md-none" />
        <div class="col">
          <img src="{% static 'images/j5.jpg' %}" class="card-img shadow rounded-circle">
          <h5 class="text-center p-3">Qabel trail</h5>
        </div>
      </div>
    </div>
    </div>
    
    <div class="album">
      <div class="container mt-5 p-1 text-white">
        <h1 class="text-center p-3 text-black">Documentry of the Gate to Makkah</h1>
        <div class="row">
          <div class="col">
            <iframe width="100%" height="350px"
              src="https://www.youtube.com/embed/Uw7tMiePOqA?autoplay=1&mute=1" frameborder="0" allowfullscreen>
            </iframe>
          </div>
        </div>
      </div>
    </div>

{% endblock %}