{% extends 'main/base.html' %}

{% load static %}

{% block title %}
    Qatif
{% endblock %}

{% block content %}


<div class="album d-flex py-5 bg-success-subtle p-0">
<div class="container mt-5 p-4 text-white object-fit-none t-0">
  <div class="row">
    <div class="col">
      <div class="card">
        <img class="card-img-top" src="{% static 'images/q5.jpg' %}" alt="Card image cap">
      </div>
    </div>
    <hr class="w-100 clearfix d-md-none" />
    <div class="col h-100">
      <div class="card h-100">
        <div class="card-body h-100">
          <h1 class="card-title">The Eastern Coast Gem</h1>
          <p class="card-text"> Qatif is one of the oldest settlements in Eastern Arabia; its history goes back to 3500 BC, 
            more than 5000 years ago, and was part of the Bahrain Region which was called Dilmun at that time and the 
            Sumerians knew it as the land of paradise, immortality, and life. Qatif Nowadays consists of more than 30 different
            cities and villages. It also has the second largest island after Bhrain in the area. Qatif has a rich history
            and a lot of places to visit that tells you about the old days. one of the most Imazing places to visit in Qatif
            is Tarut Island which has an old castle that goes in history to about 5000 years. It's famous for its local products
            such as dates, tomato, and lemon. The population of Qatif is about 700K and it has 13 different sports clubs.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
</div>

<div class="album d-flex py-5">
  <div class="container mt-2 p-1">
    <div class="row card-body">
        
      <div class="col-6 text-center">
        <div class="p-0 b-0 blank-0 col-sm object-fit-none">
          <div class="image-container">
            <div class="text-success">
              <h1 class="display-1">Qatif</h1>
              <h1 class="display-1">The Home of</h1>
              <h1 class="display-1">Trees, Sea</h1>
              <h1 class="display-1">and Oil industry</h1>
            </div>
      </div>
      </div>
    </div>
    <hr class="w-100 clearfix d-md-none" />
      <div class="col-6">
          <div id="slider">
              <figure>                
                <img src="{% static 'images/q1.jpg' %}" class="rounded">
                <img src="{% static 'images/q2.jpg' %}" class="rounded">
                <img src="{% static 'images/q3.png' %}" class="rounded">
                <img src="{% static 'images/q4.jpg' %}" class="rounded">
                <img src="{% static 'images/q1.jpg' %}" class="rounded">
              </figure>
          </div>
      </div>
      
  </div>
</div>
</div>

<div class="album d-flex py-5 bg-success-subtle">
<div class="container mt-5 p-4">
  <h1 class="text-center p-3">Old and new pics of Qatif</h1>
  <div class="row p-3">
    <div class="col">
      <img src="{% static 'images/q1.jpg' %}" class="card-img shadow rounded-circle">
      <h5 class="text-center p-3">Qatif Castle</h5>
    </div>
    <hr class="w-100 clearfix d-md-none" />
    <div class="col">
      <img src="{% static 'images/q2.jpg' %}" class="card-img shadow rounded-circle">
      <h5 class="text-center p-3">Swimming in Wells</h5>
    </div>
    <hr class="w-100 clearfix d-md-none" />
    <div class="col">
      <img src="{% static 'images/q3.png' %}" class="card-img shadow rounded-circle">
      <h5 class="text-center p-3">Qatif Farms</h5>
    </div>
  </div>
  <div class="row p-3">
    <div class="col">
      <img src="{% static 'images/q4.jpg' %}" class="card-img shadow rounded-circle">
      <h5 class="text-center p-3">Tarut Castle</h5>
    </div>
    <hr class="w-100 clearfix d-md-none" />
    <div class="col">
      <img src="{% static 'images/q5.jpg' %}" class="card-img shadow rounded-circle">
      <h5 class="text-center p-3">Old Dirah Town</h5>
    </div>
    <hr class="w-100 clearfix d-md-none" />
    <div class="col">
      <img src="{% static 'images/q6.jpg' %}" class="card-img shadow rounded-circle">
      <h5 class="text-center p-3">Qatif Sea Front</h5>
    </div>
  </div>
</div>
</div>

<div class="album d-flex py-5">
  <div class="container mt-5 p-1 text-white">
    <h1 class="text-center p-3 text-black">Drone Footage of Qatif towns</h1>
    <div class="row">
      <div class="col">
        <iframe class="shadow rounded" width="100%" height="350px"
          src="https://www.youtube.com/embed/nf7gFORmCV4?autoplay=1&mute=1" frameborder="0" allowfullscreen>
        </iframe>
      </div>
    </div>
  </div>
</div>

{% endblock %}