{% extends 'main/base.html' %}

{% load static %}

{% block title %}
    Riyadh
{% endblock %}

{% block content %}

<div class="album bg-success-subtle p-0 py-5">
    <div class="container mt-5 p-4 text-white object-fit-none t-0">
      <div class="row">
        <div class="col">
          <div class="card">
            <img class="card-img-top" src="{% static 'images/riyadh.jpg' %}" alt="Card image cap">
          </div>
        </div>
        <hr class="w-100 clearfix d-md-none" />
        <div class="col h-100">
          <div class="card h-100">
            <div class="card-body h-100">
              <h1 class="card-title">The Green Riyadh</h1>
              <p class="card-text">Riyadh is the capital and largest city of Saudi Arabia. It is also the capital of the Riyadh
                Province and the centre of the Riyadh Governorate. The current form of the metropolis emerged as an offshoot
                of the eponymous walled town following the dismantling of its defensive fortifications in the 1950s, after
                which the city underwent several phases of expansion and urbanization. It is the largest city on the Arabian 
                Peninsula, and is situated in the center of the an-Nafud desert, on the eastern part of the Najd plateau. 
                The city sits at an average of 600 meters (2,000 ft) above sea level, and receives around 5 million tourists 
                each year, making it the forty-ninth most visited city in the world and the 6th in the Middle East. 
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>
    
    <div class="album py-5">
      <div class="container mt-2 p-1">
        <div class="row card-body">
            
          <div class="col-6 text-center">
            <div class="p-0 b-0 blank-0 col-sm object-fit-none">
              <div class="image-container">
                <div class="text-success">
                  <h1 class="display-1">Riyadh</h1>
                  <h1 class="display-1">The Capital</h1>
                  <h1 class="display-1">of The Great</h1>
                  <h1 class="display-1">Saudi Arabia</h1>
                </div>
          </div>
          </div>
        </div>
        <hr class="w-100 clearfix d-md-none" />
          <div class="col-6">
              <div id="slider">
                  <figure>                
                    <img src="{% static 'images/r1.jpg' %}" class="rounded">
                    <img src="{% static 'images/r2.png' %}" class="rounded">
                    <img src="{% static 'images/r3.jpg' %}" class="rounded">
                    <img src="{% static 'images/r4.jpg' %}" class="rounded">
                    <img src="{% static 'images/r1.jpg' %}" class="rounded">
                  </figure>
              </div>
          </div>
          
      </div>
    </div>
    </div>
    
    <div class="album bg-success-subtle">
    <div class="container mt-5 p-4">
        <h1 class="text-center p-3">The New Europe</h1>
      <div class="row p-3">
        <div class="col">
          <img src="{% static 'images/riyadh.jpg' %}" class="card-img shadow rounded-circle">
          <h5 class="text-center p-3">Riyadh downTown</h5>
        </div>
        <hr class="w-100 clearfix d-md-none" />
        <div class="col">
          <img src="{% static 'images/r1.jpg' %}" class="card-img shadow rounded-circle">
          <h5 class="text-center p-3">MDL Beast soundstorm</h5>
        </div>
        <hr class="w-100 clearfix d-md-none" />
        <div class="col">
          <img src="{% static 'images/r2.png' %}" class="card-img shadow rounded-circle">
          <h5 class="text-center p-3">The Boulevard</h5>
        </div>
      </div>
      <div class="row p-3">
        <div class="col">
          <img src="{% static 'images/r3.jpg' %}" class="card-img shadow rounded-circle">
          <h5 class="text-center p-3">Riyadh attractions</h5>
        </div>
        <hr class="w-100 clearfix d-md-none" />
        <div class="col">
          <img src="{% static 'images/r4.jpg' %}" class="card-img shadow rounded-circle">
          <h5 class="text-center p-3">Almasamak Palace</h5>
        </div>
        <hr class="w-100 clearfix d-md-none" />
        <div class="col">
          <img src="{% static 'images/r5.jpg' %}" class="card-img shadow rounded-circle">
          <h5 class="text-center p-3">Riyadh infrastructure</h5>
        </div>
      </div>
    </div>
    </div>
    
    <div class="album">
      <div class="container mt-5 p-1 text-white">
        <h1 class="text-center p-3 text-black">Tourist experience footage of Riyadh</h1>
        <div class="row">
          <div class="col">
            <iframe width="100%" height="350px"
              src="https://www.youtube.com/embed/QsqVixWw0j0?autoplay=1&mute=1" frameborder="0" allowfullscreen>
            </iframe>
          </div>
        </div>
      </div>
    </div>


{% endblock %}