{% extends 'main/base.html' %}

{% load static %}

{% block title %}
    Alula
{% endblock %}

{% block content %}

<div class="album bg-success-subtle p-0 py-5">
    <div class="container mt-5 p-4 text-white object-fit-none t-0">
      <div class="row">
        <div class="col">
          <div class="card">
            <img class="card-img-top" src="{% static 'images/u5.jpg' %}" alt="Card image cap">
          </div>
        </div>
        <hr class="w-100 clearfix d-md-none" />
        <div class="col h-100">
          <div class="card h-100">
            <div class="card-body h-100">
              <h1 class="card-title">Thousands years of History</h1>
              <p class="card-text">Alula is an ancient Arabic oasis city located in Medina Province, Saudi Arabia. Situated in the Hejaz,
                a region that features prominently in the history of Islam as well as several pre-Islamic Semitic civilizations,
                al-Ula was a market city on the historic incense route that linked India and the Persian Gulf to the Levant and
                Europe. The immediate vicinity contains a unique concentration of precious artifacts, including well-preserved
                ancient stone inscriptions that illustrate the development of the Arabic language, and a concentration of rock
                dwellings and tombs that date from the Nabatean and Dedanite periods that coincided with Greco-Roman influence
                during classical antiquity. Saudi Arabia's first UNESCO World Heritage Site, Hegra is located 22 km north of
                the city.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>
    
    <div class="album py-5">
      <div class="container mt-2 p-1">
        <div class="row card-body">
            
          <div class="col-6 text-center">
            <div class="p-0 b-0 blank-0 col-sm object-fit-none">
              <div class="image-container">
                <div class="text-success">
                  <h1 class="display-1">The Hidden GEM</h1>
                  <h1 class="display-1">and home of</h1>
                  <h1 class="display-1">Thousand yrs of</h1>
                  <h1 class="display-1">History</h1>
                </div>
          </div>
          </div>
        </div>
        <hr class="w-100 clearfix d-md-none" />
          <div class="col-6">
              <div id="slider">
                  <figure>                
                    <img src="{% static 'images/u1.jpg' %}" class="rounded">
                    <img src="{% static 'images/u2.jpg' %}" class="rounded">
                    <img src="{% static 'images/u3.jpg' %}" class="rounded">
                    <img src="{% static 'images/u4.jpg' %}" class="rounded">
                    <img src="{% static 'images/u1.jpg' %}" class="rounded">
                  </figure>
              </div>
          </div>
          
      </div>
    </div>
    </div>
    
    <div class="album bg-success-subtle">
    <div class="container mt-5 p-4">
        <h1 class="text-center p-3">The Desert Gem overview</h1>
      <div class="row p-3">
        <div class="col">
          <img src="{% static 'images/u1.jpg' %}" class="card-img shadow rounded-circle">
          <h5 class="text-center p-3">The Elephant Rock</h5>
        </div>
        <hr class="w-100 clearfix d-md-none" />
        <div class="col">
          <img src="{% static 'images/u2.jpg' %}" class="card-img shadow rounded-circle">
          <h5 class="text-center p-3">Maraya Concert Hall</h5>
        </div>
        <hr class="w-100 clearfix d-md-none" />
        <div class="col">
          <img src="{% static 'images/u3.jpg' %}" class="card-img shadow rounded-circle">
          <h5 class="text-center p-3">Alula Visitors Lounge</h5>
        </div>
      </div>
      <div class="row p-3">
        <div class="col">
          <img src="{% static 'images/u4.jpg' %}" class="card-img shadow rounded-circle">
          <h5 class="text-center p-3">Qasr alFarid</h5>
        </div>
        <hr class="w-100 clearfix d-md-none" />
        <div class="col">
          <img src="{% static 'images/u5.jpg' %}" class="card-img shadow rounded-circle">
          <h5 class="text-center p-3">Alula Baloon Festival</h5>
        </div>
        <hr class="w-100 clearfix d-md-none" />
        <div class="col">
          <img src="{% static 'images/u6.jpg' %}" class="card-img shadow rounded-circle">
          <h5 class="text-center p-3">Alula Nights</h5>
        </div>
      </div>
    </div>
    </div>
    
    <div class="album">
      <div class="container mt-5 p-1 text-white">
        <h1 class="text-center p-3 text-black">Tourist experience footage of AlUla</h1>
        <div class="row">
          <div class="col">
            <iframe width="100%" height="350px"
              src="https://www.youtube.com/embed/4pcTUoS3yKQ?autoplay=1&mute=1" frameborder="0" allowfullscreen>
            </iframe>
          </div>
        </div>
      </div>
    </div>

{% endblock %}

