* {
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

nav {
    background-color: black;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
}

nav ul {
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

nav li {
    height: 50px;
}

nav a {
    height: 100%;
    padding: 0 30px;
    text-decoration: none;
    color: #73e0e0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
}

nav a:hover {
    background-color: rgb(160, 171, 171);
    border-radius: 5px;
}

nav li:first-child {
    margin-right: auto;
}

.yolo-cam,
img {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    border: 1px solid black;
    width: 80%; 
    margin-left: auto; 
    margin-right: auto; 
}




.sidebar {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    z-index: 999;
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

@keyframes slideIn {
    0% {
        transform: translateX(250px);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes slideOut {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(250px);
    }
}

.sidebar.show {
    display: flex;
    animation: slideIn 0.5s ease-in-out forwards;
}

.sidebar.hide {
    animation: slideOut 0.5s ease-in-out forwards;
    display: flex; /* Display flex during animation */
}

.sidebar.hidden {
    display: none;
}

.sidebar li {
    width: 100%;
}

.sidebar a {
    width: 100%;
}

.menu-button {
    display: none;
}

@media screen and (max-width: 800px) {
    .hideOnMobile {
        display: none;
    }

    .menu-button {
        display: block;
    }
}

@media (max-width: 400px) {
    .sidebar {
        width: 100%;
    }
}



footer {
    display: flex;
    flex-direction: row;
    border: #73e0e0;
    align-items: center;
}


