* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: white;
    color: black;
}
.hero-background {
    position: relative;
    height: 870px;
    overflow: hidden;
}

#hero-video {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    object-fit: none;
    transform: translate(-50%, -50%);
    z-index: -1;
}
.hero-content-home {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    text-align: center;
    color: white;
    animation: fadeIn 3s ease-in-out;
}
.hero-title-home {
    font-size: 4rem;
    margin: 0;
}

.hero-description-home {
    font-size: 1.5rem;
}
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
.home-content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #F3FF90;
    border-radius: 111px;
    padding: 30px;
    margin: 30px;
}
.home-content-intro{
    display: flex;
    flex-direction: column;
    gap: 26px;
    padding: 25px;
    width: 1000px;
    font-size: 28px;
}
.home-content-image{
    background-image: url("../images/argTeck.jpeg");
    min-width: 625px;
    min-height: 401px;
    margin: 22px;
    border-radius: 50px;
}

.region-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 4vmin;
  overflow: hidden;
  transform: skew(5deg);

  .card {
    flex: 1;
    transition: all 1s ease-in-out;
    height: 75vmin;
    position: relative;
    .card__head {
      color: black;
      background: #9bec00bf;
      padding: 0.5em;
      transform: rotate(-90deg);
      transform-origin: 0% 0%;
      transition: all 0.5s ease-in-out;
      min-width: 100%;
      text-align: center;
      position: absolute;
      bottom: 0;
      left: 0;
      font-size: 1em;
      white-space: nowrap;
      text-decoration: none;
    }
    .card__head a {
      color: black;
      text-decoration: none;
    }
    &:hover {
      flex-grow: 10;
      img {
        filter: grayscale(0);
      }
      .card__head {
        text-align: center;
        top: calc(100% - 2em);
        color: white;
        background: rgba(0, 0, 0, 0.5);
        font-size: 2em;
        transform: rotate(0deg) skew(-5deg);
      }
      .card__head a {
        text-decoration: none;
        color: white;
        background: rgba(0, 0, 0, 0.5);
      }
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: all 1s ease-in-out;
      filter: grayscale(100%);
    }
    &:not(:nth-child(5)) {
      margin-right: 1em;
    }
  }
}

.sa-region{
    padding: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
}
.region-map{
    display: flex;
    justify-content: center;
    padding-top: 73px;
    padding-bottom: 100px;
}
.home-card-container{
   padding:58px 0px 0px 422px;
}
.about-card-btn{
    background-color: #059212;
    height: 40px;
    width: 147px;
    border-radius: 30px;
    color: white;
    border: none;
    font-size: 18px;
    margin-top: 28px;
}
.about-card-btn:hover {
    cursor: pointer;
    background-color: #00ff19;
    color: black;
    transition: 1s;
}


