@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@40,400,0,0');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
*,
*:after,
*:before {
  box-sizing: border-box;
}

body{
    background-color: #ffffcc;
    margin: 0;
    padding: 0;
    font-family: "Ubuntu", sans-serif;
    font-style: normal;
    box-sizing: border-box;
}
.navbar{
    position: sticky;
    top: 0;
    z-index: 10;
    height: 0.1px;
}
.navbar-container{
    background-color: #81818100;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-radius: 0px 0px 30px 30px;
    transition: background-color 0.3s;

}
.navbar.scrolled .navbar-container {
    background-color: #059212;
}
.navbar.scrolled .navbar-logo a{
    color: white;
}
.navbar-logo{
  font-size: 27px;
  font-family: "Ubuntu", sans-serif;
  font-weight: 600;
  font-style: normal;
}
.navbar-logo a{
  text-decoration: none;
  color:green;
}

.menu {
  padding: 2rem;
  width: calc(300px + 4 * 70px + 4rem);
  display: flex;
  justify-content: space-around;
  border-radius: 40px;
  box-shadow: 0 10px 35px 20px rgba(0, 0, 0, 0.0999);
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
  line-height: 1.5;
  height: 40px;
  align-items: center;
}

.link {
  display: inline-flex;
  justify-content: center;
  color: white;
  align-items: center;
  width: 70px;
  height: 50px;
  border-radius: 99em;
  position: relative;
  z-index: 1;
  overflow: hidden;
  transform-origin: center left;
  transition: width 0.2s ease-in;
  text-decoration: none;
  color: inherit;
}
.link:before {
  position: absolute;
  z-index: -1;
  content: "";
  display: block;
  border-radius: 99em;
  width: 100%;
  height: 100%;
  top: 0;
  transform: translateX(100%);
  transition: transform 0.2s ease-in;
  transform-origin: center right;
  background-color: #eee;
}
.link:hover, .link:focus {
  outline: 0;
  width: 160px;
}
.link:hover:before,
.link:hover .link-title, .link:focus:before,
.link:focus .link-title {
  transform: translateX(0);
  opacity: 1;
}

.link-icon {
  width: 28px;
  height: 28px;
  display: block;
  color:white;
  flex-shrink: 0;
  left: 18px;
  position: absolute;
}
.link-icon svg {
  width: 28px;
  height: 28px;
  
}
.link:hover .link-icon svg {
  fill: #030303;
}

.link-title {
  transform: translateX(100%);
  transition: transform 0.2s ease-in;
  transform-origin: center right;
  display: block;
  text-align: center;
  text-indent: 28px;
  width: 100%;
  color:black;
}


.navbar-page-mode{
    width: 100px;
    display: flex;
    justify-content: space-around;
    gap: 5px;
}
.navbar-page-mode a{
  text-decoration: none;
  color: white;
}

.navbar-page-mode .active-icon {
    background-color: rgb(111, 101, 101);
    border-radius: 50%;
    color:white;
}
footer{
    position:static;
    left: 0;
    bottom: 0;
    border-top: 1px solid black;
    background-color: #059212;
    color: black;
    text-align: center;
    padding: 10px 0px;
}
.footer-container{
    display: flex;
    flex-direction: column;  
}
.footer-contact{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style: none;
}
.footer-contact h3{
    color: #9BEC00
}
.footer-contact div ul {
    list-style: none;
    gap: 50px;
    }
.footer-contact-section{
    display: block;
    text-align: left;
    text-decoration: none;
    color: white;
    margin-bottom: 20px;
}
.footer-contact-section > * {
    margin-bottom: 20px; 
}
.footer-contact-section a {
    text-decoration: none;
    color: white
}
.footer-contact-FollowUs{
    display: flex;
    flex-direction: column;
}
.footer-contact-FollowUs-icons{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 10px;
}
.footer-contact-FollowUs-icons i.fab{
    color:white;
    font-size: 29px;
}

.footer-rights{
    border-top: #cabcbc solid 1px;
    color: #eee1e1;
    text-align: center;
}

body.dark-mode .hero-content-home {
    color: lightgray;
}
body.dark-mode .home-content {
    background-color: #333333;
}
body.dark-mode .home-content-intro {
    color: white;
}
body.dark-mode .region-container {
    background-color: #222222;
}
body.dark-mode .card__head a {
    color: white;
}
body.dark-mode .sa-region {
    color: white;
}
body.dark-mode .about-card-btn {
    background-color: #00cc00;
    color: white;
}

body.dark-mode .about-card-btn:hover {
    background-color: #33ff33;
    color: black;
}