{% extends "base_pages/base-city.html" %}
{% block title %}قلعة عنقة {%endblock %}

{%block video%}https://res.cloudinary.com/dvyxhy5gu/video/upload/v1721247863/%D9%82%D9%84%D8%B9%D8%A9_%D8%A7%D9%84%D9%82%D9%86%D8%B9%D8%A9_%D8%A7%D9%84%D8%A7%D8%AB%D8%B1%D9%8A%D8%A9_mjmga1.mp4{%endblock%}
{% block TitleBanner%}قلعة عنقة {%endblock%}
{% block BannerDescription%}اكتشف روعة التاريخ في قلعة عنقة {%endblock%}
{%block report%}
<h1>قلعة العنقة</h1>
<h2>السياحة في قلعة عنقة</h2>
<p>قلعة عنقة هي واحدة من أهم المعالم التاريخية والسياحية في <b>المملكة العربية السعودية</b>، وتقع في منطقة <b>عسير</b>. تعتبر القلعة من أبرز المواقع التي تجذب الزوار لما تتميز به من تاريخ عريق وهندسة معمارية فريدة.</p>

<p><b>المواقع السياحية في قلعة عنقة</b>:</p>
<p>1. <b>قلعة عنقة</b>: تعتبر من أهم المعالم السياحية في المنطقة، وتتميز بجدرانها العالية والمبنية من الحجارة التي تعكس العمارة التقليدية.</p>
<p>2. <b>القرى المحيطة</b>: توفر القرى المحيطة بالقلعة تجربة ثقافية فريدة للسياح.</p>
<p>3. <b>الطرق الجبلية</b>: يمكن للسياح الاستمتاع برحلات مشي أو قيادة السيارات عبر الطرق الجبلية التي توفر مناظر طبيعية خلابة.</p>

<p><b>الأنشطة السياحية</b>:</p>
<p>- <b>المشي والاستكشاف</b>: يمكن للسياح استكشاف القلعة والمناطق المحيطة بها سيرًا على الأقدام.</p>
<p>- <b>التصوير الفوتوغرافي</b>: توفر القلعة العديد من المواقع الجميلة والمناسبة للتصوير الفوتوغرافي.</p>
<p>- <b>الاستمتاع بالمأكولات المحلية</b>: يمكن للسياح تجربة الأطعمة التقليدية في المنطقة.</p>

<p><b>الفعاليات الثقافية</b>:</p>
<p>- <b>المهرجانات التراثية</b>: تقام في قلعة عنقة العديد من المهرجانات التي تعكس التراث والثقافة المحلية.</p>
<p>- <b>العروض الفلكلورية</b>: يمكن للسياح الاستمتاع بالعروض الفلكلورية التقليدية التي تقام في القلعة.</p>

<p><b>الإقامة</b>:</p>
<p>- <b>الفنادق</b>: تتوفر في المنطقة المحيطة بقلعة عنقة بعض الفنادق التي توفر إقامة مريحة للسياح.</p>
<p>- <b>الشقق الفندقية</b>: يمكن للسياح استئجار شقق فندقية مجهزة بكافة الخدمات.</p>

<p>قلعة عنقة تعد وجهة سياحية مثالية لمن يبحث عن تجربة ثقافية وتاريخية بالإضافة إلى الاستمتاع بالطبيعة الخلابة.</p>
        {%endblock%}
        {% block FromGoogle %}
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d974886.6272431047!2d41.7675446466065!3d17.356470970282615!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x15fda9f76f3dda49%3A0xce2d874ffaec3cb1!2z2YLYsdmK2Kkg2KfZhNi52YbZgtipINin2YTYo9ir2LHZitip!5e0!3m2!1sen!2ssa!4v1721248852257!5m2!1sen!2ssa" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        {% endblock %}
        {%block LingGoogle%} 
        https://maps.app.goo.gl/sWnpM9pwNxXNz1sG9
        {% endblock %}
       
