{% extends "base_pages/base-city.html" %}
{% block title %}قلعة مارد{% endblock %}

{%block video%}https://res.cloudinary.com/dvyxhy5gu/video/upload/v1721267414/111111111_ioolqd.mp4{%endblock%}
{% block TitleBanner%}قلعة مارد{%endblock%}
{% block BannerDescription%}استكشف جمال وتاريخ قلعة مارد{%endblock%}
{%block report%}
<h1>قلعة مارد</h1>
<h2>السياحة في قلعة مارد</h2>
<p>تقع قلعة مارد في مدينة <b>دومة الجندل</b> بمنطقة <b>الجوف</b> في شمال المملكة العربية السعودية. تُعتبر هذه القلعة واحدة من أبرز المعالم التاريخية والأثرية في المملكة، حيث يعود تاريخ بنائها إلى العصر الإسلامي المبكر، وقد شهدت أحداثًا تاريخية هامة على مر العصور.</p>

<p><b>مميزات قلعة مارد</b>:</p>
<p>1. <b>الموقع الاستراتيجي</b>: تقع القلعة على تلة مرتفعة، مما يوفر إطلالة بانورامية رائعة على المدينة والمناظر الطبيعية المحيطة بها.</p>
<p>2. <b>الهندسة المعمارية</b>: تتميز القلعة بتصميمها الهندسي الفريد، حيث تتضمن أبراج مراقبة وسور دفاعي متين.</p>
<p>3. <b>التاريخ العريق</b>: يُعتبر موقع القلعة شاهدًا على العديد من الأحداث التاريخية والحروب التي مرت بها المنطقة.</p>

<p><b>الأنشطة السياحية في قلعة مارد</b>:</p>
<p>- <b>الجولات السياحية</b>: يمكن للزوار الاستمتاع بجولات سياحية داخل القلعة للتعرف على تاريخها وأهميتها.</p>
<p>- <b>التصوير الفوتوغرافي</b>: تُعد القلعة موقعًا رائعًا لمحبي التصوير الفوتوغرافي بفضل مناظرها الخلابة وتصميمها المعماري الفريد.</p>
<p>- <b>الفعاليات الثقافية</b>: تُقام في القلعة العديد من الفعاليات الثقافية والتراثية التي تعكس تراث المنطقة وتاريخها العريق.</p>

<p><b>كيفية الوصول إلى قلعة مارد</b>:</p>
<p>يمكن الوصول إلى قلعة مارد بسهولة من مدينة الجوف أو من المدن المجاورة عبر الطرق السريعة. تتوفر مواقف للسيارات بالقرب من الموقع، مما يجعل الزيارة مريحة وسهلة للزوار.</p>

<p>إذا كنت تخطط لزيارة قلعة مارد، فستكون تجربة مليئة بالتاريخ والثقافة والجمال الطبيعي. لا تنسَ أن تأخذ معك كاميرتك لتوثيق هذه اللحظات الرائعة.</p>

        {%endblock%}
        {% block FromGoogle %}
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3461.832357229353!2d39.86475257604907!3d29.81138722957433!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x150d2e5776531fd1%3A0x5387834f12fba80e!2sMarid%20Castle!5e0!3m2!1sen!2ssa!4v1721266266849!5m2!1sen!2ssa" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        {% endblock %}
        {%block LingGoogle%} 
        https://maps.app.goo.gl/wfM29eAGYH4Qhmbc7
        {%endblock%}

