{% extends "base_pages/base-city.html" %}
{% block title %}رجال المع{% endblock %}

{%block video%}https://res.cloudinary.com/dvyxhy5gu/video/upload/v1721210005/alma_magxxf.mp4{%endblock%}
{% block TitleBanner%}منطقة رجال المع{%endblock%}
{% block BannerDescription%}جمال الطبيعة وعبق التاريخ في مكان واحد. {%endblock%}
{%block report%}
<h1>رجال المع</h1>
<h2>السياحة في رجال ألمع</h2>
        <p>رجال ألمع هي إحدى الوجهات السياحية الجميلة في <b>المملكة العربية السعودية</b>، وتقع في منطقة <b>عسير</b> جنوب
          غرب المملكة. تتميز هذه المنطقة بطبيعتها الخلابة وتاريخها العريق، مما يجعلها مقصدًا مفضلًا للسياح.</p>

        <p><b>المواقع السياحية في رجال ألمع</b>:</p>
        <p>1. <b>قرية رجال ألمع التراثية</b>: تعتبر من أهم المعالم السياحية في المنطقة، وتتميز بمبانيها القديمة المبنية
          من الحجارة والطين.</p>
        <p>2. <b>منتزه الحبلة</b>: يوفر مناظر طبيعية رائعة ومناطق للتنزه.</p>
        <p>3. <b>الطريق الجبلي</b>: يمكن للسياح الاستمتاع برحلات مشي أو قيادة السيارات عبر الطرق الجبلية التي توفر مناظر
          طبيعية خلابة.</p>

        <p><b>الأنشطة السياحية</b>:</p>
        <p>- <b>المشي والتسلق</b>: يمكن للسياح الاستمتاع برياضة المشي وتسلق الجبال في المنطقة.</p>
        <p>- <b>التصوير الفوتوغرافي</b>: توفر رجال ألمع العديد من المواقع الجميلة والمناسبة للتصوير الفوتوغرافي.</p>
        <p>- <b>الاستمتاع بالمأكولات المحلية</b>: يمكن للسياح تجربة الأطعمة التقليدية في المنطقة مثل الحنيذ والعريكة.
        </p>

        <p><b>الفعاليات الثقافية</b>:</p>
        <p>- <b>المهرجانات التراثية</b>: تقام في رجال ألمع العديد من المهرجانات التي تعكس التراث والثقافة المحلية.</p>
        <p>- <b>العروض الفلكلورية</b>: يمكن للسياح الاستمتاع بالعروض الفلكلورية التقليدية التي تقام في القرية التراثية.
        </p>

        <p><b>الإقامة</b>:</p>
        <p>- <b>الفنادق</b>: تتوفر في رجال ألمع بعض الفنادق التي توفر إقامة مريحة للسياح.</p>
        <p>- <b>الشقق الفندقية</b>: يمكن للسياح استئجار شقق فندقية مجهزة بكافة الخدمات.</p>

        <p>رجال ألمع تعد وجهة سياحية مثالية لمن يبحث عن تجربة ثقافية وتاريخية بالإضافة إلى الاستمتاع بالطبيعة الخلابة.
        </p>
        {%endblock%}
        {% block FromGoogle %}
        <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3903.6884277139807!2d42.28259537523609!3d18.20163097883883!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x15e2b535d883c9cb%3A0x7567322fbc88f4!2sBees%20Tower%20Honey%20Refinery!5e1!3m2!1sen!2ssa!4v1721212880035!5m2!1sen!2ssa"
        width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"></iframe>
        {% endblock %}
        {%block LingGoogle%} 
        https://maps.app.goo.gl/YNNsQ4oBRjWL895r7
        {%endblock%}
        {%block CodeTele%}
        <a href="https://t.me/rijalalmaa" target="_blank" class="btn telegram mt-2 text-white">
            أنظم لمجتمع التليجرام لرجال المع
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-telegram" viewBox="0 0 16 16">
              <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0M8.287 5.906q-1.168.486-4.666 2.01-.567.225-.595.442c-.03.243.275.339.69.47l.175.055c.408.133.958.288 1.243.294q.39.01.868-.32 3.269-2.206 3.374-2.23c.05-.012.12-.026.166.016s.042.12.037.141c-.03.129-1.227 1.241-1.846 1.817-.193.18-.33.307-.358.336a8 8 0 0 1-.188.186c-.38.366-.664.64.015 1.088.327.216.589.393.85.571.284.194.568.387.936.629q.14.092.27.187c.331.236.63.448.997.414.214-.02.435-.22.547-.82.265-1.417.786-4.486.906-5.751a1.4 1.4 0 0 0-.013-.315.34.34 0 0 0-.114-.217.53.53 0 0 0-.31-.093c-.3.005-.763.166-2.984 1.09"/>
            </svg>
          </a>
          {%endblock%}

